// Variables
// Always work on px and the mixins will output in relative units
// Variables that can be set to false will NOT output a style declaration
// ----------------------------------------------------------------------------/

// Page Wrapper
// ----------------------------------------------------------------------------/
@wrapper-class: container;
// @wrapper-gap: 20px;

// min width
@wrapper-min-width: (280px + (@wrapper-gap * 2));

// max width
@wrapper-max-width: (940px + (@wrapper-gap * 2));


// Breakpoints
// ----------------------------------------------------------------------------/
// small screen
@viewport-small-max-width: (640px + (@wrapper-gap * 2));

// medium screen: starts after small max and end before large min
@viewport-medium-min-width: (@viewport-small-max-width + 1 / @base-font-size);
@viewport-medium-max-width: (@viewport-large-min-width - 1 / @base-font-size);

// large screens
@viewport-large-min-width: (940px + (@wrapper-gap * 2));


// Grid System
// ----------------------------------------------------------------------------/
// @grid-wrapper-class: grid;
// @grid-column-class: span-;
// @grid-column-gap: @wrapper-gap;

// small grid
// @small-columns: 4;

// medium grid
// @medium-columns: 8;

// large grid
// @large-columns: 12;


// Responsive Prefix
// ----------------------------------------------------------------------------/
// small screen
// @small-prefix: sm-;

// medium screen
// @medium-prefix: md-;

// large screen
// @large-prefix: lg-;


// Color Palette
// ----------------------------------------------------------------------------/
// page background color
// @background-color: #fff;

// base font color
// @font-color: #555;

// branding
// @primary: #06f; // background color
// @primary-fg: #fff; // foreground color

// @secondary: #222;
// @secondary-fg: #fff;

// // actions
// @success: #393;
// @success-fg: #fff;

// @warning: #fa0;
// @warning-fg: #fff;

// @danger: #c00;
// @danger-fg: #fff;

// disabled
// @disabled: #e6e6e6;
// @disabled-text: #bbb;


// Typography
// ----------------------------------------------------------------------------/
// base font family
// @base-font-family: @font-sans;

// font size
// @base-font-size: 17px;

// line height
// @base-line-height: 24px;

// leading "margin bottom"
// @base-leading: @base-line-height;

// link
// @link-color: @primary;

// headings
// @headings-font-family: false;
// @headings-font-weight: 400;
// @headings-leading: @base-leading;

// heading 1
// @h1-font-size: 48px;
// @h1-line-height: 48px;

// heading 2
// @h2-font-size: 32px;
// @h2-line-height: 48px;

// heading 3
// @h3-font-size: 24px;
// @h3-line-height: @base-line-height;

// heading 4
// @h4-font-size: 20px;
// @h4-line-height: @base-line-height;

// heading 5
// @h5-font-size: 18px;
// @h5-line-height: @base-line-height;

// heading 6
// @h6-font-size: 16px;
// @h6-line-height: @base-line-height;

// small
// @small-font-size: 14px;

// mark
// @mark-background: #fc0;
// @mark-color: #000;

// indentation
// @indent: @base-line-height;


// Base Box Model
// ----------------------------------------------------------------------------/
// paddings
// @base-padding-y: 8px;
// @base-padding-x: 12px;

// borders
// @base-border-width: 1px;
// @base-border-style: solid;
// @base-border-color: rgba(0, 0, 0, 0.3);
// @base-border-radius: 4px;


// List ul, li, dl
// ----------------------------------------------------------------------------/
// @list-indent: @indent; // padding left
// @list-leading: @base-leading; // margin bottom
// @list-style-position: outside;


// Code
// ----------------------------------------------------------------------------/
// @code-font-family: @font-mono;


// Pre
// ----------------------------------------------------------------------------/
// @pre-white-space: pre-wrap;


// Blockquote
// ----------------------------------------------------------------------------/
// @blockquote-font-family: @font-serif;
// @blockquote-font-size: @h3-font-size;
// @blockquote-font-style: italic;


// Table
// ----------------------------------------------------------------------------/
// @table-cell-padding-y: @base-padding-y;
// @table-cell-padding-x: @base-padding-x;


// Form
// ----------------------------------------------------------------------------/
// @form-padding-y: @base-padding-y;
// @form-padding-x: @base-padding-x;

// @form-background-color: @background-color; // default false
// @form-color: @font-color; // default false

// @form-border-width: @base-border-width; // can be set to false
// @form-border-color: @base-border-color;
// @form-border-color-focus: @link-color;
// @form-border-radius: @base-border-radius; // default false


// Nav
// ----------------------------------------------------------------------------/
// @nav-link-color: @link-color;
// @nav-link-color-hover: @font-color;
// @nav-link-padding-y: @base-padding-y;
// @nav-link-padding-x: @base-padding-x;

// alternative link color
// @alt-link-color: @background-color;
// @alt-link-color-hover: darken(@alt-link-color, 25%);


// Breadcrumb
// ----------------------------------------------------------------------------/
// @breadcrumb-separator: " /";


// Button
// ----------------------------------------------------------------------------/
// @button-class: button;
// @button-color: @font-color;

// @button-padding-y: @base-padding-y - @button-border-width;
// @button-padding-x: @base-padding-x;

// @button-border-width: @base-border-width; // can be set to false
// @button-border-color: transparent;
// @button-border-radius: @base-border-radius; // default false

// @button-disabled-color: @disabled-text;
// @button-disabled-background-color: @disabled;
// @button-disabled-border-color: #ddd;


// Ghost Box
// ----------------------------------------------------------------------------/
// @ghost-box-min-width: 160px;


// Iconography
// ----------------------------------------------------------------------------/
// @icon-class: icon;
// @icon-font-name: "icons";
// @icon-font-path: "../fonts/icons/";

// @icon-font-size: @base-font-size;
// @icon-line-height: 10px;


// hr
// ----------------------------------------------------------------------------/
// @hr-border-width: @base-border-width; // can be set to false
// @hr-border-style: @base-border-style;
// @hr-border-color: @base-border-color;


// // Selection
// ----------------------------------------------------------------------------/
// @selection-background: #cde1ff;
// @selection-color: #000;
