// Borders
// ----------------------------------------------------------------------------/
.border {
    .border(@base-border-width);
}

.border-left {
    .border-left(@base-border-width);
}

.border-top {
    .border-top(@base-border-width);
}

.border-right {
    .border-right(@base-border-width);
}

.border-bottom {
    .border-bottom(@base-border-width);
}


// Primary border
.border-primary{
    border-color: @primary;
    color: @primary;
}


// Secondary border
.border-secondary{
    border-color: @secondary;
    color: @secondary;
}


// Success border
.border-success{
    border-color: @success;
    color: @success;
}


// Warning border
.border-warning{
    border-color: @warning;
    color: @warning;
}


// Danger border
.border-danger{
    border-color: @danger;
    color: @danger;
}


// Button borders
// ----------------------------------------------------------------------------/
.@{button-class}.border-primary{
    &.active,
    &:hover,
    &:active {
        &:extend(.primary-bg);
    }
}


.@{button-class}.border-secondary{
    &.active,
    &:hover,
    &:active {
        &:extend(.secondary-bg);
    }
}

.@{button-class}.border-success{
    &.active,
    &:hover,
    &:active {
        &:extend(.success-bg);
    }
}

.@{button-class}.border-warning{
    &.active,
    &:hover,
    &:active {
        &:extend(.border-warning-bg);
    }
}

.@{button-class}.border-danger{
    &.active,
    &:hover,
    &:active {
        &:extend(.danger-bg);
    }
}
