// Borders
// ----------------------------------------------------------------------------/
.border {
    .border(@base-border-width);
}

.border-left {
    .border-left(@base-border-width);
}

.border-top {
    .border-top(@base-border-width);
}

.border-right {
    .border-right(@base-border-width);
}

.border-bottom {
    .border-bottom(@base-border-width);
}


// Borders Colors
// ----------------------------------------------------------------------------/
.border-primary{
    border-color: @primary;
    color: @primary;
}

.border-secondary{
    border-color: @secondary;
    color: @secondary;
}

.border-tertiary{
    border-color: @tertiary;
    color: @tertiary;
}

.border-success{
    border-color: @success;
    color: @success;
}

.border-warning{
    border-color: @warning;
    color: @warning;
}

.border-danger{
    border-color: @danger;
    color: @danger;
}


// Button borders
// ----------------------------------------------------------------------------/
.button.border-primary{
    &.active,
    &:hover,
    &:active {
        &:extend(.primary-bg);
    }
}


.button.border-secondary{
    &.active,
    &:hover,
    &:active {
        &:extend(.secondary-bg);
    }
}

.button.border-tertiary{
    &.active,
    &:hover,
    &:active {
        &:extend(.tertiary-bg);
    }
}

.button.border-success{
    &.active,
    &:hover,
    &:active {
        &:extend(.success-bg);
    }
}

.button.border-warning{
    &.active,
    &:hover,
    &:active {
        &:extend(.warning-bg);
    }
}

.button.border-danger{
    &.active,
    &:hover,
    &:active {
        &:extend(.danger-bg);
    }
}
