// Justify Self
// ----------------------------------------------------------------------------/
.self-start {
    justify-self: start;
}

.self-end {
    justify-self: end;
}

.self-center {
    justify-self: center;
}

.self-stretch {
    justify-self: stretch;
}
