// Utilities
// ----------------------------------------------------------------------------/
.block {
    display: block;
    width: 100%;
}

// Floats
// ----------------------------------------------------------------------------/
.float-left {
    float: left;
}

.float-right {
    float: right;
}


// Position
// ----------------------------------------------------------------------------/
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed-top,
.fixed-bottom {
    left: 0;
    right: 0;
}

.fixed-top,
.fixed-bottom {
    position: fixed;
    z-index: 1025;
}

.fixed-top {
    top: 0;
}

.fixed-bottom {
    bottom: 0;
}

.fixed-top .@{wrapper-class} > ul {
    .margin-left(-@nav-link-padding-x);
    .margin-right(-@nav-link-padding-x);
}

.fixed-top + .@{wrapper-class} {
    .margin-top(@base-line-height * 4);
}

.top {
    bottom: 100%;
}

.bottom {
    top: 100%;
}

.left {
    left: 0;
}

.right {
    right: 0;
}


// Alignment
// ----------------------------------------------------------------------------/
.indent {
    .padding-left(@indent);
}

.text-indent {
    .text-indent(@indent);
}

.text-outdent {
    .padding-left(@indent);
    .text-indent(-@indent);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
    hyphens: auto;
}


// Flex Box
// ----------------------------------------------------------------------------/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}


// Justify Content
// ----------------------------------------------------------------------------/
.content-start {
    justify-content: start;
}

.content-end {
    justify-content: end;
}

.content-center {
    justify-content: center;
}

.content-stretch {
    justify-content: stretch;
}

.content-around {
    justify-content: space-around;
}

.content-between {
    justify-content: space-between;
}

.content-evenly {
    justify-content: space-evenly;
}
