// Utilities
// ----------------------------------------------------------------------------/
.block {
    display: block;
}

.max-width {
    max-width: 100%;
}


// Floats
// ----------------------------------------------------------------------------/
.float-left {
    float: left;
}

.float-right {
    float: right;
}


// Position
// ----------------------------------------------------------------------------/
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed-top,
.fixed-bottom {
    left: 0;
    right: 0;
}

.fixed-top,
.fixed-bottom {
    position: fixed;
    z-index: 1025;
}

.fixed-top {
    top: 0;
    .fixed-top-wrapper();
    .fixed-top-nav();
}

.fixed-bottom {
    bottom: 0;
}

.top {
    bottom: 100%;
}

.bottom {
    top: 100%;
}

.left {
    left: 0;
}

.right {
    right: 0;
}


// Text Alignment
// ----------------------------------------------------------------------------/
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
    hyphens: auto;
}


// Flex Box
// ----------------------------------------------------------------------------/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

.flex-grow {
    flex-grow: 1;
}


// Align Self
// ----------------------------------------------------------------------------/
.align-start {
    align-self: flex-start;
}

.align-end {
    align-self: flex-end;
}

.align-center {
    align-self: center;
}

.align-baseline {
    align-self: baseline;
}

.align-stretch {
    align-self: stretch;
}


// Justify Self
// ----------------------------------------------------------------------------/
.self-start {
    justify-self: start;
}

.self-end {
    justify-self: end;
}

.self-center {
    justify-self: center;
}

.self-stretch {
    justify-self: stretch;
}


// Justify Content
// ----------------------------------------------------------------------------/
.content-start {
    justify-content: start;
}

.content-end {
    justify-content: end;
}

.content-center {
    justify-content: center;
}

.content-stretch {
    justify-content: stretch;
}

.content-around {
    justify-content: space-around;
}

.content-between {
    justify-content: space-between;
}

.content-evenly {
    justify-content: space-evenly;
}
