// Selection
// ----------------------------------------------------------------------------/
::selection {
    background-color: var(--selection);
    color: var(--selection-text);
    text-shadow: none;
}
