blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

blockquote {
    font-family: var(--blockquote-font-family);
    font-style: $blockquote-font-style;
    @extend [data-leading];
}

:where(blockquote) small {
    display: block;
}

:where(blockquote) small:before {
    content: "— ";
}
