// Text Colors
// ----------------------------------------------------------------------------/
.text-success {
    color: @success;
}

.text-warning {
    color: @warning;
}

.text-danger {
    color: @danger;
}


// Background Colors
// ----------------------------------------------------------------------------/
.success {
    background-color: @success;
    color: @success-text;
}

.success-hover {
    &.active,
    &:hover,
    &:active {
        background-color: @success-hover;
        color: @success-text;
    }
}

.warning {
    background-color: @warning;
    color: @warning-text;
}

.warning-hover {
    &.active,
    &:hover,
    &:active {
        background-color: @warning-hover;
        color: @warning-text;
    }
}

.danger {
    background-color: @danger;
    color: @danger-text;
}

.danger-hover {
    &.active,
    &:hover,
    &:active {
        background-color: @danger-hover;
        color: @danger-text;
    }
}


// Borders
// ----------------------------------------------------------------------------/
.action-borders() {
    .border-success {
        border-color: @success;
    }
    
    .border-warning {
        border-color: @warning;
    }
    
    .border-danger {
        border-color: @danger;
    }

    .success-hover,
    .warning-hover,
    .danger-hover {
        &.active,
        &:hover,
        &:active {
            border-color: @border-color;
        }
    }
}


// Disabled
// ----------------------------------------------------------------------------/
:disabled,
.disabled,
.disabled:hover,
.disabled:active,
.disabled:focus {
    background-color: @disabled;
    color: @disabled-text;
    text-decoration: none;
    outline: 0;
    cursor: not-allowed;
}
