// Background Colors
// ----------------------------------------------------------------------------/
.tertiary {
    background-color: @tertiary;
    color: @tertiary-text;
}

.tertiary-hover {
    &.active,
    &:hover,
    &:active {
        background-color: @tertiary-hover;
        color: @tertiary-text;
    }
}

.secondary {
    background-color: @secondary;
    color: @secondary-text;
}

.secondary-hover {
    &.active,
    &:hover,
    &:active {
        background-color: @secondary-hover;
        color: @secondary-text;
    }
}

.primary {
    background-color: @primary;
    color: @primary-text;
}

.primary-hover {
    &.active,
    &:hover,
    &:active {
        background-color: @primary-hover;
        color: @primary-text;
    }
}


// Text Colors
// ----------------------------------------------------------------------------/
.tertiary-text {
    color: @tertiary;
}

.secondary-text {
    color: @secondary;
}

.primary-text {
    color: @primary;
}
