// Text Colors
// ----------------------------------------------------------------------------/
.text-tertiary {
    color: @tertiary;
}

.text-secondary {
    color: @secondary;
}

.text-primary {
    color: @primary;
}


// Background Colors
// ----------------------------------------------------------------------------/
.tertiary {
    background-color: @tertiary;
    color: @tertiary-text;
}

.tertiary-hover {
    &.active,
    &:hover,
    &:active {
        background-color: @tertiary-hover;
        color: @tertiary-text;
    }
}

.secondary {
    background-color: @secondary;
    color: @secondary-text;
}

.secondary-hover {
    &.active,
    &:hover,
    &:active {
        background-color: @secondary-hover;
        color: @secondary-text;
    }
}

.primary {
    background-color: @primary;
    color: @primary-text;
}

.primary-hover {
    &.active,
    &:hover,
    &:active {
        background-color: @primary-hover;
        color: @primary-text;
    }
}

.tertiary-hover,
.secondary-hover,
.primary-hover {
    &.active,
    &:hover,
    &:active {
        border-color: @border-color;
    }
}
