// Background Colors
// ----------------------------------------------------------------------------/
.tertiary,
[data-solid="tertiary"] {
    background-color: @tertiary;
    color: @tertiary-text;
}

[data-outline="tertiary"] {
    color: @tertiary;
    border-color: @tertiary;
}

[data-solid="tertiary"],
[data-outline="tertiary"] {
    &.active,
    &:hover,
    &:active {
        border-color: @border-color;
        background-color: @tertiary-hover;
        color: @tertiary-text;
    }
}

.secondary, 
[data-solid="secondary"] {
    background-color: @secondary;
    color: @secondary-text;
}

[data-outline="secondary"] {
    color: @secondary;
    border-color: @secondary;
}

[data-solid="secondary"],
[data-outline="secondary"] {
    &.active,
    &:hover,
    &:active {
        border-color: @border-color;
        background-color: @secondary-hover;
        color: @secondary-text;
    }
}

.primary,
[data-solid="primary"] {
    background-color: @primary;
    color: @primary-text;
}

[data-outline="primary"] {
    color: @primary;
    border-color: @primary;
}

[data-solid="primary"],
[data-outline="primary"] {
    &.active,
    &:hover,
    &:active {
        border-color: @border-color;
        background-color: @primary-hover;
        color: @primary-text;
    }
}


// Text Colors
// ----------------------------------------------------------------------------/
.text-tertiary {
    color: @tertiary;
}

.text-secondary {
    color: @secondary;
}

.text-primary {
    color: @primary;
}


// Borders Colors
// ----------------------------------------------------------------------------/
.border-tertiary {
    border-color: @tertiary;
}

.border-secondary {
    border-color: @secondary;
}

.border-primary {
    border-color: @primary;
}
