// Button Colors
// ----------------------------------------------------------------------------/
[data-button="tertiary"] {
    background-color: @tertiary;
    color: @tertiary-text;
}

[data-button="tertiary-outline"] {
    color: @tertiary;
    border-color: @tertiary;
}

[data-button="tertiary"],
[data-button="tertiary-outline"] {
    &.active,
    &:hover,
    &:active {
        border-color: @border-color;
        background-color: @tertiary-hover;
        color: @tertiary-text;
    }
}

[data-button="secondary"] {
    background-color: @secondary;
    color: @secondary-text;
}

[data-button="secondary-outline"] {
    color: @secondary;
    border-color: @secondary;
}

[data-button="secondary"],
[data-button="secondary-outline"] {
    &.active,
    &:hover,
    &:active {
        border-color: @border-color;
        background-color: @secondary-hover;
        color: @secondary-text;
    }
}

[data-button="primary"] {
    background-color: @primary;
    color: @primary-text;
}

[data-button="primary-outline"] {
    color: @primary;
    border-color: @primary;
}

[data-button="primary"],
[data-button="primary-outline"] {
    &.active,
    &:hover,
    &:active {
        border-color: @border-color;
        background-color: @primary-hover;
        color: @primary-text;
    }
}


// Button Action Colors
// ----------------------------------------------------------------------------/
[data-button="success"] {
    background-color: @success;
    color: @success-text;
}

[data-button="success-outline"] {
    color: @success;
    border-color: @success;
}

[data-button="success"],
[data-button="success-outline"] {
    &.active,
    &:hover,
    &:active {
        border-color: @border-color;
        background-color: @success-hover;
        color: @success-text;
    }
}
 
[data-button="warning"] {
    background-color: @warning;
    color: @warning-text;
}

[data-button="warning-outline"] {
    color: @warning;
    border-color: @warning;
}

[data-button="warning-outline"] {
    &.active,
    &:hover,
    &:active {
        border-color: @border-color;
        background-color: @warning-hover;
        color: @warning-text;
    }
}

[data-button="danger"] {
    background-color: @danger;
    color: @danger-text;
}

[data-button="danger-outline"] {
    color: @danger;
    border-color: @danger;
}

[data-button="danger-outline"] {
    &.active,
    &:hover,
    &:active {
        border-color: @border-color;
        background-color: @danger-hover;
        color: @danger-text;
    }
}
