// Dropdown
// ----------------------------------------------------------------------------/
[data-dropdown="tooltip"] {
    position: relative;
    &:extend(abbr[title]);
}

[data-dropbox] {
    display: none;
    visibility: hidden;
    .min-width(@dropbox-min-width);
    background-color: transparent;
    color: @font-color;
    z-index: 100;
}

[data-dropbox="tip"] {
    .padding();
    background-color: @tip-background;
    color: @tip-text-color;
    position: absolute;
    left: 0;
}

[data-dropdown="tooltip"]:hover > [data-dropbox="tip"],
.active > [data-dropbox],
.active + [data-dropbox] {
    display: block;
    visibility: visible;
}
