// Dropdown
// ----------------------------------------------------------------------------/
.drop-box {
    display: none;
    visibility: hidden;
    margin-bottom: 0;
    .min-width(@drop-box-width);
    background-color: transparent;
    color: @font-color;
    z-index: 100;
}

.box {
    .padding();
    background-color: @box-background-color;
}

[data-dropdown="tooltip"] {
    &:extend(abbr[title]);
}

// added by javascript
.active + .drop-box {
    display: block;
    visibility: visible;
}
