// Icons
// ----------------------------------------------------------------------------/
.font-face(@icon-font-name; @icon-font-path);

[data-icon]:before {
    display: inline-block;
    .font-size(@icon-font-size; @unit: em);
    font-family: @icon-font-name;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    .line-height(@icon-line-height, @base: @icon-font-size);
    vertical-align: middle;
    text-transform: none;
}

[data-icon="address"]:before {
    content: "\e000";
}

[data-icon="adjust"]:before {
    content: "\e001";
}

[data-icon="air"]:before {
    content: "\e002";
}

[data-icon="alert"]:before {
    content: "\e003";
}

[data-icon="archive"]:before {
    content: "\e004";
}

[data-icon="arrow-combo"]:before {
    content: "\e005";
}

[data-icon="arrows-ccw"]:before {
    content: "\e006";
}

[data-icon="attach"]:before {
    content: "\e007";
}

[data-icon="attention"]:before {
    content: "\e008";
}

[data-icon="back"]:before {
    content: "\e009";
}

[data-icon="back-in-time"]:before {
    content: "\e00a";
}

[data-icon="bag"]:before {
    content: "\e00b";
}

[data-icon="basket"]:before {
    content: "\e00c";
}

[data-icon="battery"]:before {
    content: "\e00d";
}

[data-icon="bell"]:before {
    content: "\e00e";
}

[data-icon="block"]:before {
    content: "\e00f";
}

[data-icon="book"]:before {
    content: "\e010";
}

[data-icon="book-open"]:before {
    content: "\e011";
}

[data-icon="bookmark"]:before {
    content: "\e012";
}

[data-icon="bookmarks"]:before {
    content: "\e013";
}

[data-icon="box"]:before {
    content: "\e014";
}

[data-icon="briefcase"]:before {
    content: "\e015";
}

[data-icon="brush"]:before {
    content: "\e016";
}

[data-icon="bucket"]:before {
    content: "\e017";
}

[data-icon="calendar"]:before {
    content: "\e018";
}

[data-icon="camera"]:before {
    content: "\e019";
}

[data-icon="cancel"]:before {
    content: "\e01a";
}

[data-icon="cancel-circled"]:before {
    content: "\e01b";
}

[data-icon="cancel-squared"]:before {
    content: "\e01c";
}

[data-icon="cc"]:before {
    content: "\e01d";
}

[data-icon="cc-by"]:before {
    content: "\e01e";
}

[data-icon="cc-nc"]:before {
    content: "\e01f";
}

[data-icon="cc-nc-eu"]:before {
    content: "\e020";
}

[data-icon="cc-nc-jp"]:before {
    content: "\e021";
}

[data-icon="cc-nd"]:before {
    content: "\e022";
}

[data-icon="cc-pd"]:before {
    content: "\e023";
}

[data-icon="cc-remix"]:before {
    content: "\e024";
}

[data-icon="cc-sa"]:before {
    content: "\e025";
}

[data-icon="cc-share"]:before {
    content: "\e026";
}

[data-icon="cc-zero"]:before {
    content: "\e027";
}

[data-icon="ccw"]:before {
    content: "\e028";
}

[data-icon="cd"]:before {
    content: "\e029";
}

[data-icon="chart-area"]:before {
    content: "\e02a";
}

[data-icon="chart-bar"]:before {
    content: "\e02b";
}

[data-icon="chart-line"]:before {
    content: "\e02c";
}

[data-icon="chart-pie"]:before {
    content: "\e02d";
}

[data-icon="chat"]:before {
    content: "\e02e";
}

[data-icon="check"]:before {
    content: "\e02f";
}

[data-icon="clipboard"]:before {
    content: "\e030";
}

[data-icon="clock"]:before {
    content: "\e031";
}

[data-icon="cloud"]:before {
    content: "\e032";
}

[data-icon="cloud-thunder"]:before {
    content: "\e033";
}

[data-icon="code"]:before {
    content: "\e034";
}

[data-icon="cog"]:before {
    content: "\e035";
}

[data-icon="comment"]:before {
    content: "\e036";
}

[data-icon="compass"]:before {
    content: "\e037";
}

[data-icon="credit-card"]:before {
    content: "\e038";
}

[data-icon="cup"]:before {
    content: "\e039";
}

[data-icon="cw"]:before {
    content: "\e03a";
}

[data-icon="database"]:before {
    content: "\e03b";
}

[data-icon="db-shape"]:before {
    content: "\e03c";
}

[data-icon="direction"]:before {
    content: "\e03d";
}

[data-icon="doc"]:before {
    content: "\e03e";
}

[data-icon="doc-landscape"]:before {
    content: "\e03f";
}

[data-icon="doc-text"]:before {
    content: "\e040";
}

[data-icon="doc-text-inv"]:before {
    content: "\e041";
}

[data-icon="docs"]:before {
    content: "\e042";
}

[data-icon="dot"]:before {
    content: "\e043";
}

[data-icon="dot-2"]:before {
    content: "\e044";
}

[data-icon="dot-3"]:before {
    content: "\e045";
}

[data-icon="down"]:before {
    content: "\e046";
}

[data-icon="down-bold"]:before {
    content: "\e047";
}

[data-icon="down-circled"]:before {
    content: "\e048";
}

[data-icon="down-dir"]:before {
    content: "\e049";
}

[data-icon="down-open"]:before {
    content: "\e04a";
}

[data-icon="down-open-big"]:before {
    content: "\e04b";
}

[data-icon="down-open-mini"]:before {
    content: "\e04c";
}

[data-icon="down-thin"]:before {
    content: "\e04d";
}

[data-icon="download"]:before {
    content: "\e04e";
}

[data-icon="drive"]:before {
    content: "\e04f";
}

[data-icon="droplet"]:before {
    content: "\e050";
}

[data-icon="erase"]:before {
    content: "\e051";
}

[data-icon="export"]:before {
    content: "\e052";
}

[data-icon="eye"]:before {
    content: "\e053";
}

[data-icon="fast-backward"]:before {
    content: "\e054";
}

[data-icon="fast-forward"]:before {
    content: "\e055";
}

[data-icon="flag"]:before {
    content: "\e056";
}

[data-icon="flash"]:before {
    content: "\e057";
}

[data-icon="flashlight"]:before {
    content: "\e058";
}

[data-icon="flight"]:before {
    content: "\e059";
}

[data-icon="flow-branch"]:before {
    content: "\e05a";
}

[data-icon="flow-cascade"]:before {
    content: "\e05b";
}

[data-icon="flow-line"]:before {
    content: "\e05c";
}

[data-icon="flow-parallel"]:before {
    content: "\e05d";
}

[data-icon="flow-tree"]:before {
    content: "\e05e";
}

[data-icon="folder"]:before {
    content: "\e05f";
}

[data-icon="forward"]:before {
    content: "\e060";
}

[data-icon="gauge"]:before {
    content: "\e061";
}

[data-icon="globe"]:before {
    content: "\e062";
}

[data-icon="heart"]:before {
    content: "\e063";
}

[data-icon="heart-empty"]:before {
    content: "\e064";
}

[data-icon="help"]:before {
    content: "\e065";
}

[data-icon="help-circled"]:before {
    content: "\e066";
}

[data-icon="home"]:before {
    content: "\e067";
}

[data-icon="hourglass"]:before {
    content: "\e068";
}

[data-icon="inbox"]:before {
    content: "\e069";
}

[data-icon="infinity"]:before {
    content: "\e06a";
}

[data-icon="info"]:before {
    content: "\e06b";
}

[data-icon="info-circled"]:before {
    content: "\e06c";
}

[data-icon="install"]:before {
    content: "\e06d";
}

[data-icon="key"]:before {
    content: "\e06e";
}

[data-icon="keyboard"]:before {
    content: "\e06f";
}

[data-icon="lamp"]:before {
    content: "\e070";
}

[data-icon="language"]:before {
    content: "\e071";
}

[data-icon="layout"]:before {
    content: "\e072";
}

[data-icon="left"]:before {
    content: "\e073";
}

[data-icon="left-bold"]:before {
    content: "\e074";
}

[data-icon="left-circled"]:before {
    content: "\e075";
}

[data-icon="left-dir"]:before {
    content: "\e076";
}

[data-icon="left-open"]:before {
    content: "\e077";
}

[data-icon="left-open-big"]:before {
    content: "\e078";
}

[data-icon="left-open-mini"]:before {
    content: "\e079";
}

[data-icon="left-thin"]:before {
    content: "\e07a";
}

[data-icon="level-down"]:before {
    content: "\e07b";
}

[data-icon="level-up"]:before {
    content: "\e07c";
}

[data-icon="light-down"]:before {
    content: "\e07d";
}

[data-icon="light-up"]:before {
    content: "\e07e";
}

[data-icon="link"]:before {
    content: "\e07f";
}

[data-icon="list"]:before {
    content: "\e080";
}

[data-icon="list-add"]:before {
    content: "\e081";
}

[data-icon="location"]:before {
    content: "\e082";
}

[data-icon="lock"]:before {
    content: "\e083";
}

[data-icon="lock-open"]:before {
    content: "\e084";
}

[data-icon="login"]:before {
    content: "\e085";
}

[data-icon="logout"]:before {
    content: "\e086";
}

[data-icon="loop"]:before {
    content: "\e087";
}

[data-icon="magnet"]:before {
    content: "\e088";
}

[data-icon="mail"]:before {
    content: "\e089";
}

[data-icon="map"]:before {
    content: "\e08a";
}

[data-icon="megaphone"]:before {
    content: "\e08b";
}

[data-icon="menu"]:before {
    content: "\e08c";
}

[data-icon="mic"]:before {
    content: "\e08d";
}

[data-icon="minus"]:before {
    content: "\e08e";
}

[data-icon="minus-circled"]:before {
    content: "\e08f";
}

[data-icon="minus-squared"]:before {
    content: "\e090";
}

[data-icon="mobile"]:before {
    content: "\e091";
}

[data-icon="monitor"]:before {
    content: "\e092";
}

[data-icon="moon"]:before {
    content: "\e093";
}

[data-icon="mouse"]:before {
    content: "\e094";
}

[data-icon="music"]:before {
    content: "\e095";
}

[data-icon="mute"]:before {
    content: "\e096";
}

[data-icon="network"]:before {
    content: "\e097";
}

[data-icon="newspaper"]:before {
    content: "\e098";
}

[data-icon="note"]:before {
    content: "\e099";
}

[data-icon="note-beamed"]:before {
    content: "\e09a";
}

[data-icon="palette"]:before {
    content: "\e09b";
}

[data-icon="paper-plane"]:before {
    content: "\e09c";
}

[data-icon="pause"]:before {
    content: "\e09d";
}

[data-icon="pencil"]:before {
    content: "\e09e";
}

[data-icon="phone"]:before {
    content: "\e09f";
}

[data-icon="picture"]:before {
    content: "\e0a0";
}

[data-icon="play"]:before {
    content: "\e0a1";
}

[data-icon="plus"]:before {
    content: "\e0a2";
}

[data-icon="plus-circled"]:before {
    content: "\e0a3";
}

[data-icon="plus-squared"]:before {
    content: "\e0a4";
}

[data-icon="popup"]:before {
    content: "\e0a5";
}

[data-icon="print"]:before {
    content: "\e0a6";
}

[data-icon="progress-0"]:before {
    content: "\e0a7";
}

[data-icon="progress-1"]:before {
    content: "\e0a8";
}

[data-icon="progress-2"]:before {
    content: "\e0a9";
}

[data-icon="progress-3"]:before {
    content: "\e0aa";
}

[data-icon="publish"]:before {
    content: "\e0ab";
}

[data-icon="quote"]:before {
    content: "\e0ac";
}

[data-icon="record"]:before {
    content: "\e0ad";
}

[data-icon="reply"]:before {
    content: "\e0ae";
}

[data-icon="reply-all"]:before {
    content: "\e0af";
}

[data-icon="resize-full"]:before {
    content: "\e0b0";
}

[data-icon="resize-small"]:before {
    content: "\e0b1";
}

[data-icon="retweet"]:before {
    content: "\e0b2";
}

[data-icon="right"]:before {
    content: "\e0b3";
}

[data-icon="right-bold"]:before {
    content: "\e0b4";
}

[data-icon="right-circled"]:before {
    content: "\e0b5";
}

[data-icon="right-dir"]:before {
    content: "\e0b6";
}

[data-icon="right-open"]:before {
    content: "\e0b7";
}

[data-icon="right-open-big"]:before {
    content: "\e0b8";
}

[data-icon="right-open-mini"]:before {
    content: "\e0b9";
}

[data-icon="right-thin"]:before {
    content: "\e0ba";
}

[data-icon="rss"]:before {
    content: "\e0bb";
}

[data-icon="search"]:before {
    content: "\e0bc";
}

[data-icon="share"]:before {
    content: "\e0bd";
}

[data-icon="shareable"]:before {
    content: "\e0be";
}

[data-icon="shuffle"]:before {
    content: "\e0bf";
}

[data-icon="signal"]:before {
    content: "\e0c0";
}

[data-icon="sound"]:before {
    content: "\e0c1";
}

[data-icon="star"]:before {
    content: "\e0c2";
}

[data-icon="star-empty"]:before {
    content: "\e0c3";
}

[data-icon="stop"]:before {
    content: "\e0c4";
}

[data-icon="suitcase"]:before {
    content: "\e0c5";
}

[data-icon="switch"]:before {
    content: "\e0c6";
}

[data-icon="tag"]:before {
    content: "\e0c7";
}

[data-icon="tape"]:before {
    content: "\e0c8";
}

[data-icon="target"]:before {
    content: "\e0c9";
}

[data-icon="thermometer"]:before {
    content: "\e0ca";
}

[data-icon="thumbs-down"]:before {
    content: "\e0cb";
}

[data-icon="thumbs-up"]:before {
    content: "\e0cc";
}

[data-icon="ticket"]:before {
    content: "\e0cd";
}

[data-icon="to-end"]:before {
    content: "\e0ce";
}

[data-icon="to-start"]:before {
    content: "\e0cf";
}

[data-icon="tools"]:before {
    content: "\e0d0";
}

[data-icon="traffic-cone"]:before {
    content: "\e0d1";
}

[data-icon="trash"]:before {
    content: "\e0d2";
}

[data-icon="trophy"]:before {
    content: "\e0d3";
}

[data-icon="up"]:before {
    content: "\e0d4";
}

[data-icon="up-bold"]:before {
    content: "\e0d5";
}

[data-icon="up-circled"]:before {
    content: "\e0d6";
}

[data-icon="up-dir"]:before {
    content: "\e0d7";
}

[data-icon="up-open"]:before {
    content: "\e0d8";
}

[data-icon="up-open-big"]:before {
    content: "\e0d9";
}

[data-icon="up-open-mini"]:before {
    content: "\e0da";
}

[data-icon="up-thin"]:before {
    content: "\e0db";
}

[data-icon="upload"]:before {
    content: "\e0dc";
}

[data-icon="upload-cloud"]:before {
    content: "\e0dd";
}

[data-icon="user"]:before {
    content: "\e0de";
}

[data-icon="user-add"]:before {
    content: "\e0df";
}

[data-icon="users"]:before {
    content: "\e0e0";
}

[data-icon="vcard"]:before {
    content: "\e0e1";
}

[data-icon="video"]:before {
    content: "\e0e2";
}

[data-icon="volume"]:before {
    content: "\e0e3";
}

[data-icon="water"]:before {
    content: "\e0e4";
}

[data-icon="window"]:before {
    content: "\e0e5";
}
