// Navigation
// ----------------------------------------------------------------------------/
.nav-link {
    display: block;
    .padding(@nav-link-padding-y; @nav-link-padding-x);
    color: @nav-link-color;

    li.active > &,
    &.active,
    &:hover,
    &:active {
        color: @nav-link-color-hover;
        text-decoration: none;
    }
}

.alpha-link {
    color: @alpha-link;

    li.active > &,
    &.active,
    &:hover,
    &:active {
        color: @alpha-link-hover;
    }
}

.beta-link {
    color: @beta-link;

    li.active > &,
    &.active,
    &:hover,
    &:active {
        color: @beta-link-hover;
    }
}


// Breadcrumb
// ----------------------------------------------------------------------------/
.breadcrumb {
    li::after {
        content: @breadcrumb-separator;
        .margin-right(4px);
    }

    li:only-child::after,
    li:last-child::after {
        content: "";
        margin-right: 0;
    }
}
