// Navigation
// ----------------------------------------------------------------------------/
.nav {
    background-color: @nav-background-color;
    width: 100%;
    z-index: 1000;

    > .nav-link {
        display: inline-block;
    }

    &.top + .wrapper {
        .margin-top(@line-height * 4);
    }

    .wrapper > ul {
        .margin-left(-@nav-link-padding-x);
        .margin-right(-@nav-link-padding-x);
    }
}

.nav-link {
    display: block;
    .padding(@nav-link-padding-y; @nav-link-padding-x);
    color: @nav-link-color;

    li.active > &,
    &.active,
    &:hover,
    &:active {
        color: @nav-link-color-hover;
        text-decoration: none;
    }
}

.alpha-link {
    color: @alpha-link;

    li.active > &,
    &.active,
    &:hover,
    &:active {
        color: @alpha-link-hover;
    }
}

.beta-link {
    color: @beta-link;

    li.active > &,
    &.active,
    &:hover,
    &:active {
        color: @beta-link-hover;
    }
}


// Breadcrumb
// ----------------------------------------------------------------------------/
.breadcrumb {
    li::after {
        content: @breadcrumb-separator;
        .margin-right(4px);
    }

    li:only-child::after,
    li:last-child::after {
        content: "";
        margin-right: 0;
    }
}
