// Typography V1.0
// ----------------------------------------------------------------------------/
h1,
h2,
h3,
h4,
h5,
h6 {
    .font-family(@headings-font-family);
    font-weight: @headings-font-weight;
    .margin-bottom(@headings-leading);
    text-rendering: optimizelegibility;
}

h1 {
    .margin-bottom(@h1-leading);
    .font-size(@h1-font-size);
    .line-height(@h1-line-height; @h1-font-size);
}

h2 {
    .margin-bottom(@h2-leading);
    .font-size(@h2-font-size);
    .line-height(@h2-line-height; @h2-font-size);
}

h3 {
    .margin-bottom(@h3-leading);
    .font-size(@h3-font-size);
    .line-height(@h3-line-height; @h3-font-size);
}

h4 {
    .margin-bottom(@h4-leading);
    .font-size(@h4-font-size);
    .line-height(@h4-line-height; @h4-font-size);
}

h5 {
    .margin-bottom(@h5-leading);
    .font-size(@h5-font-size);
    .line-height(@h5-line-height; @h5-font-size);
}

h6 {
    .margin-bottom(@h6-leading);
    .font-size(@h6-font-size);
    .line-height(@h6-line-height; @h6-font-size);
}

p {
    .margin-bottom(@base-leading);
}

b,
strong {
    font-weight: 700;
}

a {
    text-decoration: @link-decoration;
    .background-color(transparent);
    color: @link-color;
    cursor: pointer;

    &:focus {
        outline: thin dotted;
        outline-offset: -2px;
    }

    &:hover {
        text-decoration: @link-decoration-hover;
    }

    &:hover,
    &:active {
        outline: 0;
    }
}

dfn {
    font-style: italic;
}

abbr[title],
dfn[title] {
    border-bottom: 0 none;
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
}

mark {
    background-color: @mark-background;
    color: @mark-color;
}

small,
sub,
sup {
    .font-size(@small-font-size);
}

sub,
sup {
    position: relative;
    line-height: 0;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}
