// Base Styles
// ----------------------------------------------------------------------------/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    text-align: inherit;
    vertical-align: baseline;
    color: inherit;
    outline: 0;
}

img,
svg,
audio,
video,
canvas,
iframe,
embed,
object {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
}

summary {
    display: list-item;
}

html {
    .font-size(@base-font-size; 16px; %);

    & when not (@scale-font-size = false) {
        font-size: @scale-font-size;
    }
}

body {
    overflow: auto;
    font-family: @base-font-family;
    font-weight: 400;
    .line-height(@base-line-height);
    text-align: left;
    color: @font-color;
    background-color: @background-color;
}
