// Blockquote
// ----------------------------------------------------------------------------/
blockquote, q {
    quotes:none;
}

blockquote {
    .margin-bottom(@blockquote-leading);
    .font-size(@blockquote-font-size);
    .font-family(@blockquote-font-family);
    font-style: @blockquote-font-style;

    &:before,
    &:after {
        content:'';
        content:none;
    }

    small:before {
        content: "— ";
    }

    small {
        display: block;
        width: 100%;
        .font-size(@small-font-size);
        .line-height(@base-line-height, @small-font-size, em);
    }
}
