// Icons
// ----------------------------------------------------------------------------/
@include font-face($icon-font-name, $icon-font-path);

[data-icon]:before {
    font-family: "icons";
    content: attr(data-icon);
    display: inline-block;
    font-family: $icon-font-name;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    vertical-align: middle;
    text-transform: none;
}
