// Grid
// ----------------------------------------------------------------------------/
.@{grid-wrapper-class} {
    display: grid;
    .column-gap(@grid-column-gap);
}

// Grid Generator
.grid(@large-columns; @grid-column-class);

// Small Grid
.small-grid () {
    .@{grid-wrapper-class} {
        grid-template-columns: repeat(@small-columns, 1fr);
    }

    .grid-responsive(@small-columns; @small-prefix);
}

// Medium Grid
.medium-grid () {
    .@{grid-wrapper-class} {
        grid-template-columns: repeat(@medium-columns, 1fr);
    }

    .grid-responsive(@medium-columns; @medium-prefix);
}

// Large Grid
.large-grid () {
    .@{grid-wrapper-class} {
        grid-template-columns: repeat(@large-columns, 1fr);
    }

    .grid-responsive(@large-columns; @large-prefix);
}
