// Wrapper
// ----------------------------------------------------------------------------/
.@{wrapper-class} {
    display: grid;
    .column-gap(@wrapper-gap);
    width: 100%;
    .min-width(@wrapper-min-width-output);
    .max-width(@wrapper-max-width-output);
    margin: 0 auto;
    .padding-left(@wrapper-gap);
    .padding-right(@wrapper-gap);
}

body > .@{wrapper-class}:first-child {
    .margin-top(@base-line-height * 2);
}

body > .@{wrapper-class}:last-child {
    .margin-bottom(@base-line-height * 4);
}
