// Borders
// ----------------------------------------------------------------------------/
.border(@width: @border-width; @style: solid; @color: @border-color; @base: @font-size; @unit: rem) {

    & when not (@width = false) {
        @a: unit((@width / @base), @unit);
        border: @a @style @color;
    }

}

.border-top(@width: @border-width; @style: solid; @color: @border-color; @base: @font-size; @unit: rem) {

    & when not (@width = false) {
        @a: unit((@width / @base), @unit);
        border-top: @a @style @color;
    }

}

.border-right(@width: @border-width; @style: solid; @color: @border-color; @base: @font-size; @unit: rem) {

    & when not (@width = false) {
        @a: unit((@width / @base), @unit);
        border-right: @a @style @color;
    }

}

.border-bottom(@width: @border-width; @style: solid; @color: @border-color; @base: @font-size; @unit: rem) {

    & when not (@width = false) {
        @a: unit((@width / @base), @unit);
        border-bottom: @a @style @color;
    }

}

.border-left(@width: @border-width; @style: solid; @color: @border-color; @base: @font-size; @unit: rem) {

    & when not (@width = false) {
        @a: unit((@width / @base), @unit);
        border-left: @a @style @color;
    }

}


// Borders Radius
// ----------------------------------------------------------------------------/
.border-radius(@top-left: @border-radius; @top-right: @border-radius; @bottom-right: @top-left; @bottom-left: @top-right; @base: @font-size; @unit: rem) {

    & when not (@top-left =  false) {
        @a: unit((@top-left / @base), @unit);
        @b: unit((@top-right / @base), @unit);
        @c: unit((@bottom-right / @base), @unit);
        @d: unit((@bottom-left / @base), @unit);

        border-radius: @a @b @c @d;
    }

}

// Border Color
// ----------------------------------------------------------------------------/
.border-color (@color: @border-color) {

    & when not (@color = false) {
        border-color: @color;
    }

}
