@mixin font-face($name, $path){
    @font-face {
        font-family: $name;
        src: url('#{$path}#{$name}.eot') format('eot'),
        url('#{$path}#{$name}.woff2') format('woff2'),
        url('#{$path}#{$name}.woff') format('woff'),
        url('#{$path}#{$name}.ttf') format('truetype'),
        url('#{$path}#{$name}.svg##{$name}') format('svg');
    }
}
