// Variables
// ============================================================================/
:root {
    --font-size: 100%;
    --line-height: 1.5;
    --leading: 1.5rem;
    --base-font: @font-sans;
    --code-font: @font-mono;
    --blockquote-font: @font-serif;
    --h1: 200%;
    --h2: 150%;
    --h3: 125%;
    --h4: 110%;
    --h5: 105%;
    --sm: 75%;
    --type-scale-sm: 1.2;
    --type-scale-md: 1.5;
    --type-scale-lg: 2;
    --gap: 1.25rem;
    --space-y: 0.5rem;
    --space-x: 0.75rem;
}


// Main Colors
// ----------------------------------------------------------------------------/
@background-color: #fff;
@font-color: #333;
@link-color: #05f;

@primary: @link-color;
@primary-text: contrast(@primary);
@primary-active: darken(@primary, 5%);

@secondary: @font-color;
@secondary-text: contrast(@secondary);
@secondary-active: darken(@secondary, 5%);


// Typography
// ----------------------------------------------------------------------------/
// font stack
@font-sans: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif;
@font-system: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@font-serif: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, "Nimbus Roman No9 L", "Liberation Serif", FreeSerif, serif;
@font-mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", "Nimbus Mono L", "Liberation Mono", FreeMono, monospace;

// headings
@headings-font-family: false;
@headings-font-color: false;
@headings-font-weight: 400;

// mark
@mark-background: #fc0;
@mark-text: contrast(@mark-background);

// hr
@hr-border-width: @border-width;
@hr-border-color: @border-color;


// Container
// ----------------------------------------------------------------------------/
@container-margin-top: calc(var(--leading) * 3);
@container-margin-bottom: calc(var(--leading) * 4);
@container-min-width: 320px;
@container-max-width: 1000px;
@container-gap: var(--gap);


// Breakpoints
// ----------------------------------------------------------------------------/
// small screen
@screen-small-max-width: unit((680px / 16px), em);

// medium screen
@screen-medium-min-width: unit((681px / 16px), em);
@screen-medium-max-width: unit((979px / 16px), em);

// large screens
@screen-large-min-width: unit((980px / 16px), em);


// Borders
// ----------------------------------------------------------------------------/
@border-width: 1px;
@border-color: rgba(0, 0, 0, 0.3);
@border-radius: 4px;


// Lists
// ----------------------------------------------------------------------------/
// order list
@ol-list-style-type: decimal;
@ol-list-style-type-sub: lower-alpha;

// unorder list
@ul-list-style-type: disc;
@ul-list-style-type-sub: circle;


// Table
// ----------------------------------------------------------------------------/
@table-cell-padding-y: var(--space-y);
@table-cell-padding-x: var(--space-x);


// Form
// ----------------------------------------------------------------------------/
@form-background: transparent;
@form-background-active: #fff9ef;
@form-color: false;
@form-color-active: contrast(@form-background-active);
@form-padding-y: var(--space-y);
@form-padding-x: var(--space-x);
@form-border-width: @border-width;
@form-border-color: @border-color;
@form-border-active: rgba(0, 0, 0, 0.5);
@form-border-radius: false;


// Button
// ----------------------------------------------------------------------------/
@button-background: transparent;
@button-background-active: rgba(0, 0, 0, 0.1);
@button-padding-y: var(--space-y);
@button-padding-x: var(--space-x);
@button-border-width: @border-width;
@button-border-color: transparent;
@button-border-radius: false;


// Navigation
// ----------------------------------------------------------------------------/
// navbar
@navbar-background: #222;
@navbar-sub-background: lighten(@navbar-background, 3%);
@navbar-link-color: contrast(@navbar-background);
@navbar-link-active: lighten(@navbar-background, 60%);

// link (data-link)
@link-padding-y: var(--space-y);
@link-padding-x: var(--space-x);
@link-active: @font-color;

// line tabs
@line-link-color: #777;
@line-link-active: @font-color;
@line-border-width: 2px;
@line-border-active: @primary;

// breadcrumb
@breadcrumb-separator: "/";


// Dropdown
// ----------------------------------------------------------------------------/
@dropbox-min-width: 160px;
@dropbox-transition: opacity 0.2s ease-out;


// Tooltip
// ----------------------------------------------------------------------------/
@tooltip-min-width: @dropbox-min-width;
@tooltip-background: @navbar-sub-background;
@tooltip-text-color: contrast(@tooltip-background);
@tooltip-transition: opacity 0.4s ease-out;


// Call to Action Colors
// ----------------------------------------------------------------------------/
@success: #198038;
@success-text: contrast(@success);
@success-active: darken(@success, 5%);

@warning: #ff832b;
@warning-text: contrast(@warning);
@warning-active: darken(@warning, 5%);

@danger: #da1e28;
@danger-text: contrast(@danger);
@danger-active: darken(@danger, 5%);

@disabled: #e6e6e6;
@disabled-text: lighten(contrast(@disabled), 60%);


// Iconography
// ----------------------------------------------------------------------------/
@icon-font-name: "icons";
@icon-font-path: "../fonts/icons/";


// Selection
// ----------------------------------------------------------------------------/
@selection-background: #d8e5ff;
@selection-text: contrast(@selection-background);
