// Button Colors
// ----------------------------------------------------------------------------/
[data-button~="outline"] {
    border-color: @border-color;
}

[data-button~="tertiary"] {
    background-color: @tertiary;
    color: @tertiary-text;
}

[data-button="tertiary outline"] {
    color: @tertiary;
    border-color: @tertiary;
}

[data-button~="tertiary"] {
    &.active,
    &:hover,
    &:active {
        border-color: @border-color;
        background-color: @tertiary-active;
        color: @tertiary-text;
    }
}

[data-button~="secondary"] {
    background-color: @secondary;
    color: @secondary-text;
}

[data-button="secondary outline"] {
    color: @secondary;
    border-color: @secondary;
}

[data-button~="secondary"] {
    &.active,
    &:hover,
    &:active {
        border-color: @border-color;
        background-color: @secondary-active;
        color: @secondary-text;
    }
}

[data-button~="primary"] {
    background-color: @primary;
    color: @primary-text;
}

[data-button="primary outline"] {
    color: @primary;
    border-color: @primary;
}

[data-button~="primary"] {
    &.active,
    &:hover,
    &:active {
        border-color: @border-color;
        background-color: @primary-active;
        color: @primary-text;
    }
}

[data-button~="success"] {
    background-color: @success;
    color: @success-text;
}

[data-button="success outline"] {
    color: @success;
    border-color: @success;
}

[data-button~="success"] {
    &.active,
    &:hover,
    &:active {
        border-color: @border-color;
        background-color: @success-active;
        color: @success-text;
    }
}
 
[data-button~="warning"] {
    background-color: @warning;
    color: @warning-text;
}

[data-button="warning outline"] {
    color: @warning;
    border-color: @warning;
}

[data-button~="warning"] {
    &.active,
    &:hover,
    &:active {
        border-color: @border-color;
        background-color: @warning-active;
        color: @warning-text;
    }
}

[data-button~="danger"] {
    background-color: @danger;
    color: @danger-text;
}

[data-button="danger outline"] {
    color: @danger;
    border-color: @danger;
}

[data-button~="danger"] {
    &.active,
    &:hover,
    &:active {
        border-color: @border-color;
        background-color: @danger-active;
        color: @danger-text;
    }
}

[data-button~="outline"] {
    background-color: transparent;
}
