@font-face {
    font-family: "Atkinson Hyperlegible";
    src:
        local("Atkinson Hyperlegible"),
        url("/src/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-Regular.woff2")
            format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src:
        local("Atkinson Hyperlegible"),
        url("/src/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-Italic.woff2")
            format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src:
        local("Atkinson Hyperlegible"),
        url("/src/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-Bold.woff2")
            format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src:
        local("Atkinson Hyperlegible"),
        url("/src/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-BoldItalic.woff2")
            format("woff2");
    font-weight: bold;
    font-style: italic;
}
