@font-face {
    font-family: icons;
    src: url("/src/fonts/icons/icons.eot") format("eot"),
         url("/src/fonts/icons/icons.woff2") format("woff2"),
         url("/src/fonts/icons/icons.woff") format("woff"),
         url("/src/fonts/icons/icons.ttf") format("truetype"),
         url("/src/fonts/icons/icons.svg#icons") format("svg");
}

[data-icon]:before {
    content: attr(data-icon);
    display: inline-block;
    font-family: icons;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    vertical-align: middle;
    text-transform: none;
}
