[data-anchor] {
    display: block;
    padding: $space-y $space-x;
    transition: $anchor-transition;
    text-decoration: none;

    &:where([data-state="active"], :hover, :active) {
        color: $anchor-text-active;
        text-decoration: none;
    }

    &:focus {
        outline: thin dotted;
        outline-offset: -0.125rem;
    }
}
