// Nav
// ----------------------------------------------------------------------------/
[data-nav] {
    display: flex;
}

[data-link] {
    display: block;
    padding: var(--space-y) var(--space-x);
}

[data-link]:where([data-state="active"], :hover, :active) {
    color: @link-active;
}
