// Nav
// ----------------------------------------------------------------------------/
[data-nav] {
    display: flex;
}

[data-link] {
    display: block;
    .padding(@nav-padding-y; @nav-padding-x);
}

[data-link]:where([data-state="active"], :hover, :active) {
    color: @nav-link-active;
}
