// Navbar
// ----------------------------------------------------------------------------/
[data-navbar] {
    z-index: 1000;
    width: 100%;
    .background-color(@navbar-background);
    color: @navbar-link-color-active;
}

[data-navbar="top"] {
    position: fixed;
    top: 0;
    
    [data-dropbox] {
        top: 100%;
    }
}

[data-navbar="bottom"] {
    position: fixed;
    bottom: 0;
    
    [data-dropbox] {
        bottom: 100%;
    }
}

[data-navbar="sub"] {
    .background-color(@navbar-sub-background);
}

[data-nav="navbar"] {
    color: @navbar-link-color;
}

[data-nav="navbar"]:is(.active, :hover, :active) {
    color: @navbar-link-color-active;
}
