// Tabs
// ----------------------------------------------------------------------------/
[data-tabs] {
    display: flex;
}

[data-tabs="line"] {
    .border-bottom(@tab-border-width);
}

[data-tab] {
    position: relative;
    z-index: 1;
    display: block;
    .padding(@nav-padding-y; @nav-padding-x);
}

[data-tab]:where([data-state="active"], :hover, :active) {
    z-index: 5;
}

[data-tab="line"] {
    .top(@tab-border-width);
    .border-bottom(@tab-border-width; @color: transparent);
}

[data-tab="line"]:where([data-state="active"], :hover, :active) {
    border-color: @tab-border-color-active;
}
