// Tabs
// ----------------------------------------------------------------------------/
[data-tabs] {
    display: flex;
}

[data-tabs~="line"] {
    .border-bottom(@tab-border-width);
}

[data-tab] {
    position: relative;
    z-index: 1;
    display: block;
    .padding(@nav-padding-y; @nav-padding-x);
    color: @tab-link-color;
}

[data-tab]:is(.active, :hover, :active) {
    z-index: 5;
    color: @tab-link-color-active;
    text-decoration: none;
}

[data-tab~="line"] {
    .top(2px);
    .border-bottom(@tab-border-width; @color: transparent);
}

[data-tab~="line"]:is(.active, :hover, :active) {
    border-color: @tab-border-color-active;
}
