// Tabs
// ----------------------------------------------------------------------------/
[data-nav="line"] {
    .border-bottom(@line-border-width);
}

[data-link="line"] {
    position: relative;
    z-index: 1;
    color: @line-link-color;
}

[data-link="line"]:where([data-state="active"], :hover, :active) {
    z-index: 5;
    color: @line-link-active;
}

[data-link="line"] {
    .top(@line-border-width);
    .border-bottom(@line-border-width; @color: transparent);
}

[data-link="line"]:where([data-state="active"], :hover, :active) {
    border-color: @line-border-active;
}
