// Accordion V1.0
// ----------------------------------------------------------------------------/
.accordion-box {
    display: none;
    width: 100%;
    .transition();
}

.show > .accordion-box {
    display: block;
}
