// Dropdown Menu V1.0
// use with navbar
// ----------------------------------------------------------------------------/
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    .min-width(@dropdown-box-min-width);
    background-color: lighten(@navbar-background-color, 2%);
    visibility: hidden;
    opacity: 0;

    .nav-link {
        .padding-left(@wrapper-padding);
        .padding-right(@wrapper-padding);
    }
}

.fixed-bottom {
    .dropdown-menu {
        bottom: 100%;
    }
}

// added by javascript
.dropdown-active + .dropdown-menu {
    visibility: visible;
    opacity: 0.98;
}


// Responsive
// ----------------------------------------------------------------------------/
@media screen and (max-width: @breakpoint-medium-max) {

    .navbar .dropdown {
        position: static;
    }

    .dropdown-menu {
        left: 0;
        right: 0;
        width: 100%;
    }

}
