// Dropdown
// ----------------------------------------------------------------------------/
[data-dropbox] {
    z-index: -10;
    display: none;
    .min-width(@dropbox-min-width);
    background-color: transparent;
    color: @font-color;
}

.active > [data-dropbox],
.active + [data-dropbox] {
    z-index: 100;
    display: block;
}
