// Tooltip
// ----------------------------------------------------------------------------/
[data-tooltip] {
    position: relative;
    &:extend(abbr[title]);

    &::before {
        content: attr(data-tooltip);
        position: absolute;
        z-index: -10;
        top: 100%;
        left: 0;
        .min-width(@tooltip-min-width);
        .padding();
        background-color: @tooltip-background;
        color: @tooltip-text-color;
        opacity: 0;
        transition:opacity 0.4s ease-out; 
    }
}

[data-tooltip]:hover::before {
    z-index: 10;
    opacity: 1;
}
