// Tooltip
// ----------------------------------------------------------------------------/
[data-dropdown="tooltip"] {
    position: relative;
    &:extend(abbr[title]);
}

[data-dropbox="tip"] {
    position: absolute;
    left: 0;
    .padding();
    background-color: @tip-background;
    color: @tip-text-color;
}

[data-dropdown="tooltip"]:hover > [data-dropbox="tip"] {
    &:extend(.active + [data-dropbox]);
}
