// Tooltip
// ----------------------------------------------------------------------------/
[data-tooltip] {
    position: relative;
    &:extend([title]:where(abbr, dfn));

    &::before {
        content: attr(data-tooltip);
        position: absolute;
        z-index: -10;
        bottom: 100%;
        left: 0;
        .min-width(@tooltip-min-width);
        .padding();
        background-color: @tooltip-background;
        color: @tooltip-text-color;
        opacity: 0;
        transition: @tooltip-transition;
    }
}

[data-tooltip][data-state="active"]::before,
[data-tooltip]:hover::before {
    z-index: 10;
    opacity: 1;
}
