// Borders V1.0
// -----------------------------------------------------------------------------
.border(@width: @base-border-width; @style: @base-border-style; @color: @base-border-color; @base: @base-font-size; @unit: rem) {

    & when not (@width = off) {
        @a: unit((@width / @base), @unit);
        border: @a @style @color;
    }

}

.border-top(@width: @base-border-width; @style: @base-border-style; @color: @base-border-color; @base: @base-font-size; @unit: rem) {

    & when not (@width = off) {
        @a: unit((@width / @base), @unit);
        border-top: @a @style @color;
    }

}

.border-right(@width: @base-border-width; @style: @base-border-style; @color: @base-border-color; @base: @base-font-size; @unit: rem) {

    & when not (@width = off) {
        @a: unit((@width / @base), @unit);
        border-right: @a @style @color;
    }

}

.border-bottom(@width: @base-border-width; @style: @base-border-style; @color: @base-border-color; @base: @base-font-size; @unit: rem) {

    & when not (@width = off) {
        @a: unit((@width / @base), @unit);
        border-bottom: @a @style @color;
    }

}

.border-left(@width: @base-border-width; @style: @base-border-style; @color: @base-border-color; @base: @base-font-size; @unit: rem) {

    & when not (@width = off) {
        @a: unit((@width / @base), @unit);
        border-left: @a @style @color;
    }

}


// Borders Radius V1.0
// -----------------------------------------------------------------------------
.border-radius(@top-left: @base-border-radius; @top-right: @base-border-radius; @bottom-right: @top-left; @bottom-left: @top-right; @base: @base-font-size; @unit: rem) {

    @a: unit((@top-left / @base), @unit);
    @b: unit((@top-right / @base), @unit);
    @c: unit((@bottom-right / @base), @unit);
    @d: unit((@bottom-left / @base), @unit);

    border-radius: @a @b @c @d;

}


// Border Color V1.0
// -----------------------------------------------------------------------------
.border-color (@color: @base-border-color; @amount: 6.5%; @switch: none) {

    & when (@switch = none) {
        border-color: @color;
    }

    & when (@switch = light) {
        border-color: lighten(@color, @amount);
    }

    & when (@switch = dark) {
        border-color: darken(@color, @amount);
    }

    & when (@switch = saturate) {
        border-color: saturate(@color, @amount);
    }

    & when (@switch = desaturate) {
        border-color: desaturate(@color, @amount);
    }

}
