// Selection V1.0
// -----------------------------------------------------------------------------

.selection(@color: @selection-color; @background: @selection-background) {
	::-moz-selection {
		background-color: @selection-background;
		color: @selection-color;
		text-shadow: none;
	}

	::selection {
		background-color: @selection-background;
		color: @selection-color;
		text-shadow: none;
	}
}
