// Widths V1.0
// -----------------------------------------------------------------------------
.width(@width; @base: @base-font-size;@unit: rem) {
    & when (@unit = em),
    (@unit = rem) {
        @a: unit((@width / @base), @unit);
        width: @a;
    }

    & when (@unit = %) {
        @a: percentage(@width / @base);
        width: @a;
    }

    & when (@unit = vw), (@unit = vh) {
        @a: unit(((@width / @base) * 100), @unit);
        width: @a;
    }
}

.max-width(@width; @base: @base-font-size;@unit: rem) {
    & when (@unit = em), (@unit = rem) {
        @a: unit((@width / @base), @unit);
        max-width: @a;
    }

    & when (@unit = %) {
        @a: percentage(@width / @base);
        max-width: @a;
    }

    & when (@unit = vw), (@unit = vh) {
        @a: unit(((@width / @base) * 100), @unit);
        max-width: @a;
    }
}

.min-width(@width; @base: @base-font-size;@unit: rem) {
    & when (@unit = em), (@unit = rem) {
        @a: unit((@width / @base), @unit);
        min-width: @a;
    }

    & when (@unit = %) {
        @a: percentage(@width / @base);
        min-width: @a;
    }

    & when (@unit = vw), (@unit = vh) {
        @a: unit(((@width / @base) * 100), @unit);
        min-width: @a;
    }
}
