[data-container] {
    margin: 0 auto;
    padding-left: $container-gap;
    padding-right: $container-gap;
    min-width: $container-min-width;

    :where(body) > &:first-child {
        margin-top: $container-margin-top;
    }

    :where(body) > &:last-child {
        margin-bottom: $container-margin-top;
    }
}

[data-container~="fit"] {
    max-width: $container-max-width;
}
