blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

blockquote {
    font-family: $blockquote-font-family;
    font-style: $blockquote-font-style;
}

:where(blockquote) small {
    display: block;
}

:where(blockquote) small:before {
    content: "— ";
}
