:where(a) {
    text-decoration: none;
    background-color: transparent;
    color: $link-color;
    text-decoration: $link-decoration;
    cursor: pointer;
}

:where(a:hover, a:active) {
    text-decoration: $link-decoration-hover;
}

:where(a:focus) {
    outline: thin dotted;
    outline-offset: -0.125rem;
}
