:where(a) {
    text-decoration: none;
    background-color: transparent;
    color: var(--link-color);
    cursor: pointer;
}

:where(a:hover, a:active) {
    text-decoration: underline;
}

:where(a:focus) {
    outline: thin dotted;
    outline-offset: -0.125rem;
}
