ol,
ul {
    list-style-type: none;
}

[data-list="ol"],
[data-list="ul"],
[data-list="dl"] {
    @extend [data-leading];
}

[data-list="ol"] {
    list-style-type: $ol-list-style-type;
}

[data-list="ol"] > li:first-child > [data-list="ol"] {
    list-style-type: $ol-list-style-type-child;
}

[data-list="ul"] {
    list-style-type: $ul-list-style-type;
}

[data-list="ul"] > li:first-child > [data-list="ul"] {
    list-style-type: $ul-list-style-type-child;
}

[data-list="ol"],
[data-list="ul"],
:where([data-list="dl"]) dd {
    padding-left: $leading;
    list-style-position: outside;
}

[data-list="ol"] [data-list] ,
[data-list="ul"] [data-list] ,
[data-list="dl"] [data-list] {
     margin: 0;

}
