[data-leading] {
    margin: calc(var(--leading) / 2) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @if $headings-font-family != false {
        font-family: $headings-font-family;
    }
    font-weight: $headings-font-weight;
    @extend [data-leading];
}

h1,
[data-text~="h1"] {
    font-size: var(--h1-font-size);
}

h2,
[data-text~="h2"] {
    font-size: var(--h2-font-size);
}

h3,
[data-text~="h3"] {
    font-size: var(--h3-font-size);
}

h4,
[data-text~="h4"] {
    font-size: var(--h4-font-size);
}

h5,
[data-text~="h5"] {
    font-size: var(--h5-font-size);
}

h6,
[data-text~="h6"] {
    font-size: var(--h6-font-size);
}

p {
    @extend [data-leading];
}

b,
strong {
    font-weight: 900;
}

i,
em,
dfn {
    font-style: italic;
}

[title]:where(abbr, dfn) {
    text-decoration: underline dotted;
    cursor: help;
}

mark {
    background-color: $mark-background;
    color: $mark-text;
}

small,
sub,
sup,
[data-text~="small"] {
    font-size: var(--small-font-size);
}

sub,
sup {
    position: relative;
    line-height: 0;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

hr {
    display: block;
    margin: var(--leading) 0;
    min-height: 0.0625rem;
    border-top: $hr-border-width $hr-border-style $hr-border-color;
}
