// Grid
// modify the grid to your project specifications
// ----------------------------------------------------------------------------/
.grid {
    display: grid;
    .column-gap(@wrapper-gap);
    grid-template-columns: repeat(4, 1fr);

    header,
    footer {
        grid-column: 1 ~"/" -1;
    }

    article,
    section {
        grid-column: span 3;
    }
}


// Small Screen Breakpoint
// ----------------------------------------------------------------------------/
.small-grid () {

    // Add code

    .grid {
        grid-template-columns: repeat(1, 1fr);

        article,
        section,
        aside,
        nav {
            grid-column: 1 ~"/" -1;
        }
    }

}


// Medium Screen Breakpoint
// ----------------------------------------------------------------------------/
.medium-grid () {

    // Add code

    .grid {
        div,
        li {
            grid-column: span 2;
        }
    }
}


// Large Screen Breakpoint
// ----------------------------------------------------------------------------/
.large-grid () {
    // Add code
}
