// Print
// ----------------------------------------------------------------------------/
@media print {
	html {
		font-size: 100%;
	}

	body {
		background: white;
		color: black;
	}

	body,
	html {
		height: auto;
	}

	nav {
		display: none;
	}

	.@{wrapper-class} {
		max-width: 100%;
		margin: 0;
		padding: 0;
	}

	.columns {
		width: 100%;
	}

	.hide-print {
		display: none;
	}
}
