// Visibility
// ----------------------------------------------------------------------------/

.show-print {
	display: none;
}


// Small Screen
// hide content on small screens
// ----------------------------------------------------------------------------/

@media screen and (max-width: @breakpoint-small-max) {
	.hide-@{small-prefix},
	.show-@{medium-prefix},
	.show-@{large-prefix} {
		display: none;
	}
}


// Medium Screen
// hide content on medium screens
// ----------------------------------------------------------------------------/

@media screen and (min-width: @breakpoint-medium-min) and (max-width: @breakpoint-medium-max) {
	.hide-@{medium-prefix}-up,
	.hide-@{medium-prefix},
	.show-@{small-prefix},
	.show-@{large-prefix} {
		display: none;
	}
}


// Large Screen
// hide content on large screens
// ----------------------------------------------------------------------------/

@media screen and (min-width: @breakpoint-large-min) {
	.hide-@{medium-prefix}-up,
	.hide-@{large-prefix},
	.show-@{small-prefix},
	.show-@{medium-prefix} {
		display: none;
	}
}
