[data-section~="header"] {
    margin-bottom: $leading;
    padding-top: calc($leading * 4);
    padding-bottom: calc($leading * 2);
    background-color: var(--neutral-00);
    color: var(--neutral-10);

    & :--headings {
        color: var(--neutral-10);
    }
}

[data-section="footer"] {
    margin-bottom: $container-margin-bottom;
}

:where([data-section~="header"]) a {
    color: inherit;
    /* text-decoration: underline solid 0.125rem; */
}

:where([data-section~="header"]) a:hover {
    color: $primary;
}
