// Code V1.0
// ----------------------------------------------------------------------------/

code,
kbd,
pre,
samp {
	.font-family(@code-font-family);
}

code {
	line-height: 1;
	background-color: @code-background;
	color: @code-color;
}

pre {
	.margin-bottom(@base-leading; @unit: rem);
	.padding();
	white-space: @pre-white-space;
	background-color: @pre-background;
	color: @pre-color;
	overflow: auto;

	code {
		background-color: inherit;
		color: inherit;
	}
}
