// Alignment
// ----------------------------------------------------------------------------/

.indent {
	.padding-left(@indent);
}

.text-indent {
	.text-indent();
}

.text-outdent {
	.padding-left(@indent);
	.text-indent(-@indent);
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
	hyphens: auto;
}
