// Disabled
// ----------------------------------------------------------------------------/
[data-state="disabled"],
[data-state="disabled"]:is(:hover, :active, :focus) {
    border-color: @disabled;
    background-color: @disabled;
    color: @disabled-contrast;
    text-decoration: none;
    outline: 0;
    cursor: not-allowed;
}
