[data-list="border"] {
    border: $border-width solid var(--border-color);
}

[data-list="border"] > li {
    border-bottom: $border-width solid var(--border-color);
}

[data-list="border"] > li:last-child {
    border: 0;
}
