[data-button="link"] {
    text-decoration: none;
    background-color: transparent;
    color: $link-color;

    &:is([data-state="active"], :hover, :active) {
        background-color: transparent;
        border-color: transparent;
        text-decoration: underline;
    }
}
