// Default Variables
// ============================================================================/

// Main Colors
// ----------------------------------------------------------------------------/
@background-color: #fff;
@font-color: #333;
@link-color: @primary;

// branding
@primary: #05f;
@primary-text: contrast(@primary);
@primary-active: darken(@primary, 5%);

@secondary: #03a;
@secondary-text: contrast(@secondary);
@secondary-active: darken(@secondary, 5%);

@tertiary: @font-color;
@tertiary-text: contrast(@tertiary);
@tertiary-active: darken(@tertiary, 5%);


// Typography
// ----------------------------------------------------------------------------/
@font-family: @font-sans;
@font-size: 16px;
@font-scale: false;
@line-height: 22px;

// type scale
@type-scale-small: 1.2;
@type-scale-medium: 1.25;
@type-scale-large: 1.3;

// headings
@headings-font-family: false;
@headings-font-color: false;
@headings-font-weight: 400;

// heading 1
@h1-font-size-small: (ceil(@h2-font-size-small * @type-scale-small));
@h1-font-size-medium: (ceil(@h2-font-size-medium * @type-scale-medium));
@h1-font-size-large: (ceil(@h2-font-size-large * @type-scale-large));

// heading 2
@h2-font-size-small: (ceil(@h3-font-size-small * @type-scale-small));
@h2-font-size-medium: (ceil(@h3-font-size-medium * @type-scale-medium));
@h2-font-size-large: (ceil(@h3-font-size-large * @type-scale-large));

// heading 3
@h3-font-size-small: (ceil(@h4-font-size-small * @type-scale-small));
@h3-font-size-medium: (ceil(@h4-font-size-medium * @type-scale-medium));
@h3-font-size-large: (ceil(@h4-font-size-large * @type-scale-large));

// heading 4
@h4-font-size-small: (ceil(@h5-font-size-small * @type-scale-small));
@h4-font-size-medium: (ceil(@h5-font-size-medium * @type-scale-medium));
@h4-font-size-large: (ceil(@h5-font-size-large * @type-scale-large));

// heading 5
@h5-font-size-small: (ceil(@font-size * @type-scale-small));
@h5-font-size-medium: (ceil(@font-size * @type-scale-medium));
@h5-font-size-large: (ceil(@font-size * @type-scale-large));

// small
@small-font-size: 12px;

// mark
@mark-background: #fc0;
@mark-text: contrast(@mark-background);

// hr
@hr-border-width: @border-width;
@hr-border-color: @border-color;


// Container
// ----------------------------------------------------------------------------/
@container-margin-top: @line-height * 3;
@container-margin-bottom: @line-height * 4;
@container-min-width: 320px;
@container-max-width: 1000px;
@container-gap: 20px;


// Breakpoints
// ----------------------------------------------------------------------------/
// small screen
@screen-small-max-width: 680px;

// medium screen
@screen-medium-min-width: (@screen-small-max-width + 1 / @font-size);
@screen-medium-max-width: (@screen-large-min-width - 1 / @font-size);

// large screens
@screen-large-min-width: 980px;


// Box Model
// ----------------------------------------------------------------------------/
// margins
@margin-y: 20px;
@margin-x: 20px;

// paddings
@padding-y: 8px;
@padding-x: 12px;

// borders
@border-width: 1px;
@border-color: rgba(0, 0, 0, 0.3);
@border-radius: 4px;


// Lists
// ----------------------------------------------------------------------------/
// order list
@ol-list-style-type: decimal;
@ol-list-style-type-sub: hebrew;

// unorder list
@ul-list-style-type: disc;
@ul-list-style-type-sub: circle;


// Code
// ----------------------------------------------------------------------------/
@code-font-family: @font-mono;


// Pre
// ----------------------------------------------------------------------------/
@pre-white-space: pre-wrap;


// Blockquote
// ----------------------------------------------------------------------------/
@blockquote-font-family: @font-serif;
@blockquote-font-style: italic;


// Table
// ----------------------------------------------------------------------------/
@table-cell-padding-y: @padding-y;
@table-cell-padding-x: @padding-x;


// Form
// ----------------------------------------------------------------------------/
@form-background: transparent;
@form-background-active: #fff9ef;
@form-color: false;
@form-color-active: contrast(@form-background-active);
@form-padding-y: @padding-y;
@form-padding-x: @padding-x;
@form-border-width: @border-width;
@form-border-color: @border-color;
@form-border-color-active: rgba(0, 0, 0, 0.5);
@form-border-radius: false;


// Button
// ----------------------------------------------------------------------------/
@button-background: transparent;
@button-background-active: rgba(0,0,0,0.1);
@button-padding-y: @padding-y;
@button-padding-x: @padding-x;
@button-border-width: @border-width;
@button-border-color: transparent;
@button-border-radius: false;


// Navigation
// ----------------------------------------------------------------------------/
@nav-padding-y: @padding-y;
@nav-padding-x: @padding-x;
@nav-link-color-active: @font-color;

// navbar
@navbar-background: #222;
@navbar-sub-background: lighten(@navbar-background, 3%);
@navbar-link-color: contrast(@navbar-background);
@navbar-link-color-active: darken(@navbar-link-color, 30%);

// tabs
@tabs-border-width: 2px;
@tab-link-color: #999;
@tab-link-color-active: @font-color;
@tab-border-width: @tabs-border-width;
@tab-border-color-active: @primary;

// breadcrumb
@breadcrumb-separator: "/";


// Dropdown
// ----------------------------------------------------------------------------/
@dropbox-min-width: 160px;
@tip-background: @navbar-sub-background;
@tip-text-color: contrast(@tip-background);


// Call to Action Colors
// ----------------------------------------------------------------------------/
@success: #00c853 ;
@success-text: contrast(@success);
@success-active: darken(@success, 5%);

@warning: #ffab00 ;
@warning-text: contrast(@warning);
@warning-active: darken(@warning, 5%);

@danger: #ff3d00 ;
@danger-text: contrast(@danger);
@danger-active: darken(@danger, 5%);

@disabled: #e6e6e6;
@disabled-text: lighten(contrast(@disabled), 60%);


// Selection
// ----------------------------------------------------------------------------/
@selection-background: #d8e5ff;
@selection-text: contrast(@selection-background);


// Iconography
// ----------------------------------------------------------------------------/
@icon-font-name: "icons";
@icon-font-path: "../fonts/icons/";
@icon-font-size: @font-size;
@icon-line-height: 10px;


// Font Stack
// ----------------------------------------------------------------------------/
@font-sans: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif;
@font-system: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@font-serif: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, "Nimbus Roman No9 L", "Liberation Serif", FreeSerif, serif;
@font-mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", "Nimbus Mono L", "Liberation Mono", FreeMono, monospace;

