[data-tooltip] {
    position: relative;
    text-decoration: underline dotted;
    cursor: help;

    &::before {
        content: attr(data-tooltip);
        position: absolute;
        z-index: -10;
        bottom: 100%;
        left: 0;
        min-width: $tooltip-min-width;
        padding: var(--space-y) var(--space-x);
        background-color: var(--tooltip-background);
        color: var(--tooltip-text);
        opacity: 0;
        transition: $tooltip-transition;
    }
}

/* uncss:ignore */
[data-tooltip][data-state="active"]::before,
[data-tooltip]:hover::before {
    z-index: 10;
    opacity: 1;
}
