// Box Model
// ----------------------------------------------------------------------------/

// margins
@base-margin-y: 20px;
@base-margin-x: 20px;

// paddings
@base-padding-y: 8px;
@base-padding-x: 14px;

// borders
@base-border-width: 1px; // can be set to false
@base-border-style: solid;
@base-border-color: rgba(0, 0, 0, 0.3);
@base-border-radius: 4px;
