// Breakpoints
// ----------------------------------------------------------------------------/
// small screen
@screen-small-max-width: (640px + (@wrapper-gap * 2));

// medium screen: starts after small-max and end before large-min
@screen-medium-min-width: (@screen-small-max-width + 1 / @base-font-size);
@screen-medium-max-width: (@screen-large-min-width - 1 / @base-font-size);

// large screens
@screen-large-min-width: (@wrapper-max-width);
