// Breakpoints
// ----------------------------------------------------------------------------/

// small screen
@small-prefix: sm-;

// medium screen
@medium-prefix: md-;

// large screen
@large-prefix: lg-;


// small screen
@breakpoint-small-max: unit((@viewport-small-max-width / @base-font-size), em);

// medium screen
@breakpoint-medium-min: unit((@viewport-medium-min-width / @base-font-size), em);
@breakpoint-medium-max: unit(((@viewport-medium-max-width ) / @base-font-size), em);

// large screen
@breakpoint-large-min: unit((@viewport-large-min-width / @base-font-size), em);


// Scale
// site begins to scale at a given screen width and height
// ----------------------------------------------------------------------------/
@scale-width: 1600px;
@scale-height: @scale-width;
