// Color Palette
// ----------------------------------------------------------------------------/
// page background color
@background-color: #fff;

// base font color
@font-color: #555;

// branding
@primary: #06f; // background color
@primary-fg: contrast(@primary); // foreground color

@secondary: #222;
@secondary-fg: contrast(@secondary);

// actions
@success: #393;
@success-fg: contrast(@success);

@warning: #fa0;
@warning-fg: contrast(@warning);

@danger: #c00;
@danger-fg: contrast(@danger);

// disabled
@disabled: #e6e6e6;
@disabled-text: lighten(contrast(@disabled), 60%);
