// Color Palette
// ----------------------------------------------------------------------------/
// page background color
@background-color: #fff;

// base font color
@font-color: #555;

// branding
@primary: #06f;
@primary-text: contrast(@primary);
@primary-hover: darken(@primary, 5%);

@secondary: #222;
@secondary-text: contrast(@secondary);
@secondary-hover: darken(@secondary, 5%);

// actions
@success: #393;
@success-text: contrast(@success);
@success-hover: darken(@success, 5%);

@warning: #fa0;
@warning-text: contrast(@warning);
@warning-hover: darken(@warning, 5%);

@danger: #c00;
@danger-text: contrast(@danger);
@danger-hover: darken(@danger, 5%);

// disabled
@disabled: #e6e6e6;
@disabled-text: lighten(contrast(@disabled), 60%);
