// Form
// ----------------------------------------------------------------------------/
@form-padding-y: @base-padding-y;
@form-padding-x: @base-padding-x;

@form-background-color: false;
@form-color: false;

@form-border-width: @base-border-width; // can be set to false
@form-border-style: @base-border-style;
@form-border-color: @base-border-color;
@form-border-color-focus: rgba(0, 0, 0, 0.5);
@form-border-radius: false;
