// Grid System
// ----------------------------------------------------------------------------/
@grid-wrapper-class: grid;
@grid-column-class: span-;
@grid-column-gap: @wrapper-gap;

// small grid
@small-prefix: sm-;
@small-columns: 4;

// medium grid
@medium-prefix: md-;
@medium-columns: 8;

// large grid
@large-prefix: lg-;
@large-columns: 12;
