// Nav
// ----------------------------------------------------------------------------/
@nav-link-color: @link-color;
@nav-link-color-hover: @font-color;
@nav-link-padding-y: @base-padding-y;
@nav-link-padding-x: @base-padding-x;

// alternative link
@alt-link-color: @background-color;
@alt-link-color-hover: darken(@alt-link-color, 25%);


// Breadcrumb
// ----------------------------------------------------------------------------/
@breadcrumb-separator: " /";
