// Nav
// ----------------------------------------------------------------------------/
@nav-link-color: @link-color;
@nav-link-color-hover: @font-color;
@nav-link-padding-y: @base-padding-y;
@nav-link-padding-x: @base-padding-x;


// Breadcrumb
// ----------------------------------------------------------------------------/
@breadcrumb-separator: " /";
