// Typography
// for more fonts check out variables folder font-stack.less
// ----------------------------------------------------------------------------/
// base font family
@base-font-family: @font-sans;

// font size
@root-font-size: 16px;
@base-font-size: 16px;

// type scale
@type-scale: 1.25;

// line height
@base-line-height: 25px;

// leading: margin bottom
@base-leading: @base-line-height;

// link
@link-color: @primary;

// headings
@headings-font-family: false;
@headings-font-weight: 400;

// heading 1
@h1-font-size: (ceil(@h2-font-size * @type-scale));
@h1-line-height: @base-line-height * 2;

// heading 2
@h2-font-size: (ceil(@h3-font-size * @type-scale));
@h2-line-height: @base-line-height * 2;

// heading 3
@h3-font-size: (ceil(@h4-font-size * @type-scale));
@h3-line-height: @base-line-height;

// heading 4
@h4-font-size: (ceil(@h5-font-size * @type-scale));
@h4-line-height: @base-line-height;

// heading 5
@h5-font-size: (ceil(@h6-font-size * @type-scale));
@h5-line-height: @base-line-height;

// heading 6
@h6-font-size: @base-font-size;
@h6-line-height: @base-line-height;

// small
@small-font-size: (ceil(@base-font-size / @type-scale));

// mark
@mark-background: #fc0;
@mark-color: #000;

// hr
@hr-border-width: @base-border-width; // can be set to false
@hr-border-style: @base-border-style;
@hr-border-color: @base-border-color;

// indentation
@indent: @base-line-height;
