// Typography
// for more fonts check out variables folder font-stack.less
// ----------------------------------------------------------------------------/
// base font family
@base-font-family: @font-sans;

// font size
@root-font-size: 16px;
@base-font-size: 16px;

// line height
@base-line-height: 24px;

// leading "margin bottom"
@base-leading: @base-line-height;

// link
@link-color: @primary;

// headings
@headings-font-family: false;
@headings-font-weight: 400;

// heading 1
@h1-font-size: 48px;
@h1-line-height: @base-line-height * 2;

// heading 2
@h2-font-size: 32px;
@h2-line-height: @base-line-height * 2;

// heading 3
@h3-font-size: 24px;
@h3-line-height: @base-line-height;

// heading 4
@h4-font-size: 20px;
@h4-line-height: @base-line-height;

// heading 5
@h5-font-size: 18px;
@h5-line-height: @base-line-height;

// heading 6
@h6-font-size: 16px;
@h6-line-height: @base-line-height;

// small
@small-font-size: 14px;

// mark
@mark-background: #fc0;
@mark-color: #000;

// hr
@hr-border-width: @base-border-width; // can be set to false
@hr-border-style: @base-border-style;
@hr-border-color: @base-border-color;

// indentation
@indent: @base-line-height;
