// Wrapper
// ----------------------------------------------------------------------------/
@wrapper-class: container;
@wrapper-gap: 20px;


// min width
@wrapper-min-width: 280px;

// max width
@wrapper-max-width: 940px;


// Minimum wrapper width output
@wrapper-min-width-output: (@wrapper-min-width + (@wrapper-gap * 2));

// Maximum wrapper width output
@wrapper-max-width-output: (@wrapper-max-width + (@wrapper-gap * 2));
