// Wrapper
// ----------------------------------------------------------------------------/
@wrapper-class: container;
@wrapper-gap: 20px;


// min width
@wrapper-min-width: (280px + (@wrapper-gap * 2));

// max width
@wrapper-max-width: (940px + (@wrapper-gap * 2));
