[data-section~="header"] {
    margin-bottom: $leading;
    padding-top: calc($leading * 3);
    padding-bottom: calc($leading * 2);
    background-color: var(--font-color);
    color: var(--background);

    & :--headings {
        color: var(--background);
    }
}

/* :where([data-section~="header"]) a {
    color: inherit;
    text-decoration: underline solid 0.125rem;
}

:where([data-section~="header"]) a:hover {
    text-decoration: none;
} */
