/* Modify the grid to your project specifications */
[data-grid] {
    display: grid;
    column-gap: $wrapper-gap;
}

[data-grid="main"] {
    grid-template-columns: repeat(4, 1fr);
}

:where([data-grid="main"]) header, footer {
    grid-column: 1 #{"/"} -1;
}

:where([data-grid="main"]) article, section {
    grid-column: span 3;
}

/* Small Screen Breakpoint */
@mixin small-grid() {
    [data-grid="main"] {
        display: block;
    }
}

/* Medium Screen Breakpoint */
@mixin medium-grid() {
    :where([data-grid="main"]) div,
    li {
        grid-column: span 2;
    }
}

/* Large Screen Breakpoint */
@mixin large-grid() {
    /* Add code for breakpoint */
}
