/* Modify the grid to your project specifications */

[data-grid="main"] {
    grid-template-columns: repeat(12, 1fr);

    [data-column~="1"] {
        grid-column: span 1;
    }

    [data-column~="2"] {
        grid-column: span 2;
    }

    [data-column~="3"] {
        grid-column: span 3;
    }

    [data-column~="4"] {
        grid-column: span 4;
    }

    [data-column~="5"] {
        grid-column: span 5;
    }

    [data-column~="6"] {
        grid-column: span 6;
    }

    [data-column~="7"] {
        grid-column: span 7;
    }

    [data-column~="8"] {
        grid-column: span 8;
    }

    [data-column~="9"] {
        grid-column: span 9;
    }

    [data-column~="10"] {
        grid-column: span 10;
    }

    [data-column~="11"] {
        grid-column: span 11;
    }

    [data-column~="12"] {
        grid-column: span 12;
    }
}

@mixin _small-grid() {
    [data-grid="main"] {
        grid-template-columns: repeat(4, 1fr);

        [data-column~="small-1"] {
            grid-column: span 1;
        }

        [data-column~="small-2"] {
            grid-column: span 2;
        }

        [data-column~="small-3"] {
            grid-column: span 3;
        }

        :where(&) > li,
        [data-column~="small-4"] {
            grid-column: span 4;
        }
    }
}

@mixin _medium-grid() {
    [data-grid="main"] {
        grid-template-columns: repeat(12, 1fr);

        [data-column~="medium-1"] {
            grid-column: span 1;
        }

        [data-column~="medium-2"] {
            grid-column: span 2;
        }

        [data-column~="medium-3"] {
            grid-column: span 3;
        }

        :where(&) > li,
        [data-column~="medium-4"] {
            grid-column: span 4;
        }

        [data-column~="medium-5"] {
            grid-column: span 5;
        }

        [data-column~="medium-6"] {
            grid-column: span 6;
        }

        [data-column~="medium-7"] {
            grid-column: span 7;
        }

        [data-column~="medium-8"] {
            grid-column: span 8;
        }

        [data-column~="medium-9"] {
            grid-column: span 9;
        }

        [data-column~="medium-10"] {
            grid-column: span 10;
        }

        [data-column~="medium-11"] {
            grid-column: span 11;
        }

        [data-column~="medium-12"] {
            grid-column: span 12;
        }
    }
}

@mixin _large-grid() {
    [data-grid="main"] {
        grid-template-columns: repeat(12, 1fr);

        [data-column~="large-1"] {
            grid-column: span 1;
        }

        [data-column~="large-2"] {
            grid-column: span 2;
        }

        :where(&) > li,
        [data-column~="large-3"] {
            grid-column: span 3;
        }

        [data-column~="large-4"] {
            grid-column: span 4;
        }

        [data-column~="large-5"] {
            grid-column: span 5;
        }

        [data-column~="large-6"] {
            grid-column: span 6;
        }

        [data-column~="large-7"] {
            grid-column: span 7;
        }

        [data-column~="large-8"] {
            grid-column: span 8;
        }

        [data-column~="large-9"] {
            grid-column: span 9;
        }

        [data-column~="large-10"] {
            grid-column: span 10;
        }

        [data-column~="large-11"] {
            grid-column: span 11;
        }

        [data-column~="large-12"] {
            grid-column: span 12;
        }
    }
}
