/* Modify the grid to your project specifications */
[data-grid] {
    display: grid;
    column-gap: $grid-gap;
}

[data-grid="main"] {
    grid-template-columns: repeat(4, 1fr);
}

:where([data-grid="main"]) header, footer {
    grid-column: 1 #{"/"} -1;
}

:where([data-grid="main"]) article, section {
    grid-column: span 3;
}

@mixin small-grid() {
    /* Add code for small screen  */
    [data-grid="main"] {
        display: block;
    }
}

@mixin medium-grid() {
    /* Add code for medium screen  */
    :where([data-grid="main"]) div, li {
        grid-column: span 2;
    }
}

@mixin large-grid() {
    /* Add code for large screen  */
}
