/* Modify print styles to your project specifications */
@media print {
    :root {
        --background: white;
        --font-color: black;
    }

    html,
    body {
        font-family: $print-font-family;
        height: auto;
    }

    nav {
        display: none;
    }

    :--heading {
        @if $headings-font-family != false {
            font-family: $print-font-family;
        }
    }

    [data-wrapper] {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    [data-grid] {
        display: block;
    }
}
