// Button
// ----------------------------------------------------------------------------/
button,
[data-button] {
    display: inline-block;
    .padding(@button-padding-y; @button-padding-x);
    .border(@button-border-width; @color: @button-border-color;);
    .border-radius(@button-border-radius);
    .background-color(transparent);
    text-align: center;
    cursor: pointer;

    &:hover,
    &:active {
        .background-color(@button-background-hover);
        outline: 0;
        text-decoration: none;
    }

    &:focus {
        outline: thin dotted;
        outline-offset: unit((-2px / @font-size), rem);
    }
}
