// Selection
// ----------------------------------------------------------------------------/
::-moz-selection {
    background-color: @selection-background;
    color: @selection-text;
    text-shadow: none;
}

::selection {
    background-color: @selection-background;
    color: @selection-text;
    text-shadow: none;
}
