// Typography
// ----------------------------------------------------------------------------/
[data-leading] {
    .margin((@line-height / 2), 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    & when (iscolor(@headings-font-color)) {
        color: @headings-font-color;
    }
    .font-family(@headings-font-family);
    font-weight: @headings-font-weight;
    &:extend([data-leading]);
}

[data-text~="h1"],
h1 {
    .font-size(@h1-font-size-small);
}

[data-text~="h2"],
h2 {
    .font-size(@h2-font-size-small);
}

[data-text~="h3"],
h3 {
    .font-size(@h3-font-size-small);
}

[data-text~="h4"],
h4 {
    .font-size(@h4-font-size-small);
}

[data-text~="h5"],
h5 {
    .font-size(@h5-font-size-small);
}

[data-text~="h6"],
h6 {
    .font-size(@font-size);
}

p {
    &:extend([data-leading]);
}

b,
strong {
    font-weight: 900;
}

i,
em,
dfn {
    font-style: italic;
}

abbr[title],
dfn[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
}

mark {
    background-color: @mark-background;
    color: @mark-text;
}

[data-text~="small"],
small,
sub,
sup {
    .font-size(@small-font-size; @unit: em);
}

sub,
sup {
    position: relative;
    line-height: 0;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

hr {
    box-sizing: content-box;
    display: block;
    .margin(@line-height; 0);
    height: 1px;
    .border-top(@hr-border-width; solid; @hr-border-color);
}

.medium-type-scale () {
    [data-text~="h1"],
    h1 {
        .font-size(@h1-font-size-medium);
    }

    [data-text~="h2"],
    h2 {
        .font-size(@h2-font-size-medium);
    }

    [data-text~="h3"],
    h3 {
        .font-size(@h3-font-size-medium);
    }

    [data-text~="h4"],
    h4 {
        .font-size(@h4-font-size-medium);
    }

    [data-text~="h5"],
    h5 {
        .font-size(@h5-font-size-medium);
    }
}

.large-type-scale () {
    [data-text~="h1"],
    h1 {
        .font-size(@h1-font-size-large);
    }

    [data-text~="h2"],
    h2 {
        .font-size(@h2-font-size-large);
    }

    [data-text~="h3"],
    h3 {
        .font-size(@h3-font-size-large);
    }

    [data-text~="h4"],
    h4 {
        .font-size(@h4-font-size-large);
    }

    [data-text~="h5"],
    h5 {
        .font-size(@h5-font-size-large);
    }
}
