// Accordion
// ----------------------------------------------------------------------------/
.accordion {
    position: relative;
}

.accordion-box {
    display: none;
    .transition();
}

// added by javascript
.accordion-active + .accordion-box {
    display: block;
}
