// Actions
// ----------------------------------------------------------------------------/
.success-bg {
    background-color: @success;
    color: @success-text;
}

.warning-bg {
    background-color: @warning;
    color: @warning-text;
}

.danger-bg {
    background-color: @danger;
    color: @danger-text;
}


// Buttons
// ----------------------------------------------------------------------------/
.@{button-class}.success-bg {
    &.active,
    &:hover,
    &:active {
        background-color: @success-hover;
    }
}

.@{button-class}.warning-bg {
    &.active,
    &:hover,
    &:active {
        background-color: @warning-hover;
    }
}

.@{button-class}.danger-bg {
    &.active,
    &:hover,
    &:active {
        background-color: @danger-hover;
    }
}


// Disabled
// ----------------------------------------------------------------------------/
.disabled {
    border-color: @button-disabled-border-color;
    background-color: @button-disabled-background-color;
    color: @button-disabled-color;
    cursor: not-allowed;

    &:hover,
    &:active {
        background-color: @button-disabled-background-color;
        color: @button-disabled-color;
        text-decoration: none;
    }

    &:focus {
        outline: 0;
    }
}
