// Actions
// ----------------------------------------------------------------------------/
.success-bg {
    background-color: @success;
    color: @success-text;
}

.warning-bg {
    background-color: @warning;
    color: @warning-text;
}

.danger-bg {
    background-color: @danger;
    color: @danger-text;
}


// Buttons
// ----------------------------------------------------------------------------/
.button.success-bg {
    &.active,
    &:hover,
    &:active {
        background-color: @success-hover;
    }
}

.button.warning-bg {
    &.active,
    &:hover,
    &:active {
        background-color: @warning-hover;
    }
}

.button.danger-bg {
    &.active,
    &:hover,
    &:active {
        background-color: @danger-hover;
    }
}


// Disabled
// ----------------------------------------------------------------------------/
.disabled {
    background-color: @disabled;
    color: @disabled-text;
    cursor: not-allowed;

    &:hover,
    &:active {
        background-color: @disabled;
        color: @disabled-text;
        text-decoration: none;
    }

    &:focus {
        outline: 0;
    }
}
