// Box
// ----------------------------------------------------------------------------/
.box {
    display: block;
    .padding(@base-padding-y, @base-padding-x);
}


// Drop Box
// ----------------------------------------------------------------------------/
.drop-box {
    display: none;
    width: 100%;
    margin-bottom: 0;
    .min-width(@drop-box-min-width);
    background-color: @background-color;
    color: @font-color;
}

// added by javascript
.active + .drop-box {
    display: block;
}
