// Button Colors
// ----------------------------------------------------------------------------/
.@{button-class}.primary-bg {
    &.active,
    &:hover,
    &:active {
        background-color: @primary-hover;
    }
}


.@{button-class}.secondary-bg {
    &.active,
    &:hover,
    &:active {
        background-color: @secondary-hover;
    }
}

.@{button-class}.success-bg {
    &.active,
    &:hover,
    &:active {
        background-color: @success-hover;
    }
}

.@{button-class}.warning-bg {
    &.active,
    &:hover,
    &:active {
        background-color: @warning-hover;
    }
}

.@{button-class}.danger-bg {
    &.active,
    &:hover,
    &:active {
        background-color: @danger-hover;
    }
}
