// Button Colors
// ----------------------------------------------------------------------------/
.@{button-class}.primary-bg {
    &.active,
    &:hover,
    &:active {
        background-color: darken(@primary, 5%);
    }
}


.@{button-class}.secondary-bg {
    &.active,
    &:hover,
    &:active {
        background-color: darken(@secondary, 5%);
    }
}

.@{button-class}.success-bg {
    &.active,
    &:hover,
    &:active {
        background-color: darken(@success, 5%);
    }
}

.@{button-class}.warning-bg {
    &.active,
    &:hover,
    &:active {
        background-color: darken(@warning, 5%);
    }
}

.@{button-class}.danger-bg {
    &.active,
    &:hover,
    &:active {
        background-color: darken(@danger, 5%);
    }
}
