// Branding Colors
// ----------------------------------------------------------------------------/
.base-bg {
    background-color: @background-color;
}

// Primary Background
.primary-bg {
    background-color: @primary;
    color: @primary-text;
}

// Secondary Background
.secondary-bg {
    background-color: @secondary;
    color: @secondary-text;
}
