// Background Colors
// ----------------------------------------------------------------------------/
.base-bg {
    background-color: @background-color;
}


// Primary Background
.primary-bg {
    background-color: @primary;
    color: @primary-text;
}


// Secondary Background
.secondary-bg {
    background-color: @secondary;
    color: @secondary-text;
}


// Success Background
.success-bg {
    background-color: @success;
    color: @success-text;
}


// Warning Background
.warning-bg {
    background-color: @warning;
    color: @warning-text;
}


// Danger Background
.danger-bg {
    background-color: @danger;
    color: @danger-text;
}
