// Dropdown
// ----------------------------------------------------------------------------/
.dropdown-box {
    position: absolute;
    z-index: 1000;
    display: none;
    width: 100%;
    .min-width(@dropdown-box-min-width);
    margin-bottom: 0;
    background-color: @dropdown-box-background-color;
    visibility: hidden;
    .transition();
}

.static > .dropdown-box {
    left: 0;
    right: 0;
    width: auto;
    .margin-left(-@nav-link-padding-x);
    .margin-right(-@nav-link-padding-x);

    > * {
        .padding(0, @wrapper-padding);
    }
}

// added by javascript
.dropdown-active + .dropdown-box {
    display: block;
    visibility: visible;
}
