// Outlines
// ----------------------------------------------------------------------------/
.outline {
    .border(@base-border-width);
}


// Primary outline
.primary-outline {
    border-color: @primary;
    color: @primary;
}


// Secondary outline
.secondary-outline {
    border-color: @secondary;
    color: @secondary;
}


// Success outline
.success-outline {
    border-color: @success;
    color: @success;
}


// Warning outline
.warning-outline {
    border-color: @warning;
    color: @warning;
}


// Danger outline
.danger-outline {
    border-color: @danger;
    color: @danger;
}


// Button Outlines
// ----------------------------------------------------------------------------/
.@{button-class}.primary-outline {
    &.active,
    &:hover,
    &:active {
        &:extend(.primary-bg);
    }
}


.@{button-class}.secondary-outline {
    &.active,
    &:hover,
    &:active {
        &:extend(.secondary-bg);
    }
}

.@{button-class}.success-outline {
    &.active,
    &:hover,
    &:active {
        &:extend(.success-bg);
    }
}

.@{button-class}.warning-outline {
    &.active,
    &:hover,
    &:active {
        &:extend(.warning-bg);
    }
}

.@{button-class}.danger-outline {
    &.active,
    &:hover,
    &:active {
        &:extend(.danger-bg);
    }
}
