:root {
    --background: hsl(0, 0%, 100%);
    --font-color: hsl(0, 0%, 0%);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: hsl(0, 0%, 10%);
        --font-color: hsl(0, 0%, 60%);
    }
} */

/* Colors */
$background: var(--background);
$background-gradient: false;
$font-color: var(--font-color);
$font-color-secondary: hsl(0, 0%, 50%);

$primary: hsl(220, 100%, 50%);
$primary-text: hsl(0, 0%, 100%);
$primary-active: hsl(220, 100%, 45%);

$secondary: hsl(30, 50%, 30%);
$secondary-text: hsl(0, 0%, 100%);
$secondary-active: hsl(30, 50%, 35%);

$tertiary: var(--font-color);
$tertiary-text: hsl(0, 0%, 100%);
$tertiary-active: hsl(0, 0%, 20%);

/* Box Model */
$space-y: 0.5rem;
$space-x: 0.75rem;
$border-width: 0.0625em;
$border-color: hsl(0, 0%, 50%);

/* Typography */
$font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Nimbus Sans L", sans-serif;
$font-size: 100%;
$font-weight: 400;
$line-height: 1.5;
$leading: 1.5rem;

/* link */
$link-color: $primary;

/* headings */
$headings-font-family: false;
$headings-font-weight: 400;
$headings-line-height: 1.2;

$h1-font-size: clamp(2.488rem, 3vw, 4.209rem);

$h2-font-size: clamp(2.074rem, 3vw, 3.157rem);

$h3-font-size: clamp(1.728rem, 3vw, 2.369rem);

$h4-font-size: clamp(1.44rem, 3vw, 1.777rem);

$h5-font-size: clamp(1.2rem, 3vw, 1.333rem);

$h6-font-size: $font-size;

/* blockquote */
$blockquote-font-family: TimesNewRoman, "Times New Roman", Times, Baskerville,
    Georgia, "Nimbus Roman No9 L", serif;
$blockquote-font-style: italic;

/* pre & code */
$mono-font-family: "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", "Nimbus Mono L", monospace;

/* small */
$small-font-size: 0.75rem;

/* mark */
$mark-background: hsl(50, 100%, 50%);
$mark-text: hsl(0, 0%, 0%);

/* hr */
$hr-border-style: solid;
$hr-border-width: $border-width;
$hr-border-color: $font-color;

/* Lists */
$ol-list-style-type: decimal;
$ol-list-style-type-child: lower-alpha;
$ul-list-style-type: disc;
$ul-list-style-type-child: circle;

/* Table */
$table-cell-padding-y: $space-y;
$table-cell-padding-x: $space-x;

/* Form */
$form-padding-y: $space-y;
$form-padding-x: $space-x;
$form-border-width: $border-width;
$form-border-color: $font-color;
$form-border-active: $primary;
$form-border-radius: false;
$form-background: transparent;
$form-text: $font-color-secondary;
$form-text-active: $font-color;
$form-text-area-min-height: 6.25rem;
$form-transition: all 0.2s ease;

/* Button */
$button-padding-y: $space-y;
$button-padding-x: $space-x;
$button-border-width: $border-width;
$button-border-color: transparent;
$button-border-radius: false;
$button-background: hsla(0, 0%, 50%, 0.1);
$button-background-active: hsla(0, 0%, 50%, 0.2);
$button-text-color: $font-color;
$button-transition: all 0.2s ease;

/* Feedback */
$success: hsl(150, 100%, 25%);
$success-text: hsl(0, 0%, 100%);
$success-active: hsl(150, 100%, 20%);

$warning: hsl(25, 100%, 60%);
$warning-text: hsl(0, 0%, 100%);
$warning-active: hsl(25, 100%, 55%);

$danger: hsl(0, 70%, 50%);
$danger-text: hsl(0, 0%, 100%);
$danger-active: hsl(0, 70%, 45%);

/* Disabled */
$disabled: hsl(0, 0%, 90%);
$disabled-text: hsl(0, 0%, 50%);

/* Navbar */
$navbar-background: hsl(0, 0%, 0%);
$navbar-dropbox-background: hsl(0, 0%, 10%);
$navbar-anchor-text: hsl(0, 0%, 100%);
$navbar-anchor-text-active: hsl(0, 0%, 70%);

/* Anchor */
$anchor-padding-y: $space-y;
$anchor-padding-x: $space-x;
$anchor-text-active: $font-color;
$anchor-transition: all 0.2s ease;

/* Nav Line */
$nav-line-border-width: 0.125em;
$nav-line-border-color: $border-color;
$nav-line-anchor-text: $font-color-secondary;
$nav-line-anchor-text-active: $font-color;
$nav-line-anchor-border-active: $primary;

/* Breadcrumb */
$breadcrumb-separator: "/";

/* Dropbox */
$dropbox-min-width: 10rem;
$dropbox-transition: opacity 0.3s ease;

/* Tooltip */
$tooltip-min-width: 26ch;
$tooltip-background: var(--font-color);
$tooltip-text: var(--background);

/* Grid */
$grid-gap: 1.25rem;

/* Wrapper */
$wrapper-min-width: 20rem;
$wrapper-max-width: 62.5rem;
$wrapper-margin-top: calc($leading * 3);
$wrapper-margin-bottom: calc($leading * 4);
$wrapper-gap: $grid-gap;

/* Breakpoints */
$screen-small-max-width: 42.5em; /* small screen 680px */
$screen-medium-min-width: 42.5625em; /* medium screen 681px*/
$screen-medium-max-width: 61.1875em; /* medium screen 979px */
$screen-large-min-width: 61.25em; /* large screens 980px */

/* Print */
$print-font-family: TimesNewRoman, "Times New Roman", Times, Baskerville,
    Georgia, "Nimbus Roman No9 L", serif;

/* Selection */
$selection: var(--font-color);
$selection-text: var(--background);
