:root {
    --background-color: #fff;
    --font-color: hsl(0, 0%, 15%);
    --link-color: var(--primary);

    --primary: hsl(220, 100%, 50%);
    --primary-text: contrast(var(--primary));
    --primary-active: hsl(220, 100%, 45%);

    --secondary: hsl(220, 80%, 30%);
    --secondary-text: contrast(var(--secondary));
    --secondary-active: hsl(220, 80%, 35%);

    --tertiary: hsl(0, 0%, 15%);
    --tertiary-text: contrast(var(--tertiary));
    --tertiary-active: hsl(0, 0%, 20%);

    --success: hsl(140, 70%, 30%);
    --success-text: contrast(var(--secondary));
    --success-active: hsl(140, 70%, 25%);

    --warning: hsl(25, 100%, 60%);
    --warning-text: contrast(var(--warning));
    --warning-active: hsl(25, 100%, 55%);

    --danger: hsl(0, 70%, 50%);
    --danger-text: contrast(var(--danger));
    --danger-active: hsl(0, 70%, 45%);

    --navbar-background: hsl(0, 0%, 15%);
    --navbar-text: contrast(var(--navbar-background));
    --navbar-text-active: hsl(0, 0%, 70%);
    --navbar-child-background: hsl(0, 0%, 20%);

    --tooltip-background: var(--navbar-child-background);
    --tooltip-text: contrast(var(--tooltip-background));

    --disabled: rgba(0, 0, 0, 0.1);
    --disabled-text: rgba(0, 0, 0, 0.3);

    --selection: #4784ff;
    --selection-text: contrast(var(--secondary-text));
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --background-color: hsl(0, 0%, 15%);
//         --font-color: #fff;
//     }
// }

/* Box Model */
$space-y: 0.5rem;
$space-x: 0.75rem;
$border-width: 0.0625em;
$border-color: rgba(0, 0, 0, 0.3);

/* Typography */
$font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
$font-size: 100%;
$font-weight: 400;
$line-height: 1.5;
$leading: 1.5rem; /* margin bottom */

/* headings */
$headings-font-family: false;
$headings-font-weight: 400;
$h1-font-size: clamp(2rem, 6vw, 4rem);
$h2-font-size: clamp(1.8rem, 5vw, 3rem);
$h3-font-size: clamp(1.4rem, 4vw, 2.4rem);
$h4-font-size: clamp(1.2rem, 3vw, 2rem);
$h5-font-size: clamp(1rem, 3vw, 1.8rem);
$h6-font-size: clamp(1rem, 3vw, 1.4rem);

/* blockquote */
$blockquote-font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, "Nimbus Roman No9 L", serif;
$blockquote-font-style: italic;

/* pre & code */
$mono-font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", "Nimbus Mono L", monospace;

/* small */
$small-font-size: 0.75rem;

/* mark */
$mark-background: hsl(50, 100%, 50%);
$mark-text: #000;

/* hr */
$hr-border-style: solid;
$hr-border-width: $border-width;
$hr-border-color: $border-color;

/* Lists */
$ol-list-style-type: decimal;
$ol-list-style-type-child: lower-alpha;
$ul-list-style-type: disc;
$ul-list-style-type-child: circle;

/* Table */
$table-cell-padding-y: $space-y;
$table-cell-padding-x: $space-x;

/* Form */
$form-background: transparent;
$form-text: rgba(0, 0, 0, 0.5);
$form-text-active: var(--font-color);
$form-padding-y: $space-y;
$form-padding-x: $space-x;
$form-border-width: $border-width;
$form-border-color: $border-color;
$form-border-active: rgba(0, 0, 0, 0.8);
$form-border-radius: false;
$text-area-min-height: 6.25rem;

/* Button */
$button-background: transparent;
$button-background-active: rgba(0, 0, 0, 0.1);
$button-padding-y: $space-y;
$button-padding-x: $space-x;
$button-border-width: $border-width;
$button-border-color: transparent;
$button-border-radius: false;

/* anchor */
$anchor-padding-y: $space-y;
$anchor-padding-x: $space-x;
$anchor-text-active: var(--font-color);

/* line */
$line-border-width: 0.125em;
$line-border-color: $border-color;
$anchor-line-text: rgba(0, 0, 0, 0.5);
$anchor-line-text-active: var(--font-color);
$anchor-line-border-active: var(--primary);

/* breadcrumb */
$breadcrumb-separator: "/";

/* Dropdown */
$dropbox-min-width: 10rem;
$dropbox-transition: opacity 0.2s ease-out;

/* Tooltip */
$tooltip-min-width: $dropbox-min-width;
$tooltip-transition: opacity 0.4s ease-out;

/* Iconography */
$icon-font-name: "icons";
$icon-font-path: "../fonts/icons/";

/* Wrapper */
$grid-gap: 1.25rem;
$wrapper-min-width: 20rem;
$wrapper-max-width: 62.5rem;
$wrapper-gap: $grid-gap;
$wrapper-margin-top: calc($leading * 3);
$wrapper-margin-bottom: calc($leading * 4);

/* Breakpoints */
$screen-small-max-width: 42.5em; /* small screen 680px */
$screen-medium-min-width: 42.5625em; /* medium screen 681px*/
$screen-medium-max-width: 61.1875em; /* medium screen 979px */
$screen-large-min-width: 61.25em; /* large screens 980px */

/* Print */
$print-font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, "Nimbus Roman No9 L", serif;
