// Base Styles
// ----------------------------------------------------------------------------/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    text-align: inherit;
    vertical-align: baseline;
    color: inherit;
    outline: 0;
}

html {
    .font-size(@font-size; 16px; percent);
    font-family: @font-family;
    font-weight: 400;
    .line-height(@line-height);
    text-align: left;
    color: @font-color;
    background-color: @background-color;
    overflow-wrap: break-word;

    & when not (@font-scale = false) {
        font-size: @font-scale;
    }
}

img,
svg,
picture,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    max-width: 100%;
  }
