// Blockquote
// ----------------------------------------------------------------------------/
blockquote,
q {
    quotes: none;
}

blockquote:where(:before, :after) {
    content: "";
    content: none;
}

blockquote {
    font-family: var(--blockquote-font);
    font-style: italic;
    &:extend([data-leading]);
}

:where(blockquote) small {
    display: block;
}

:where(blockquote) small::before {
    content: "— ";
}
