// Blockquote
// ----------------------------------------------------------------------------/
blockquote,
q {
    quotes: none;
}

blockquote:is(:before, :after) {
    content: '';
    content: none;
}

blockquote {
    .font-family(@blockquote-font-family);
    &:extend([data-leading]);

    & when not (@blockquote-font-style = false) {
        font-style: @blockquote-font-style;
    }

    small {
        display: block;
    }

    small:before {
        content: "— ";
    }
}
