// Button
// ----------------------------------------------------------------------------/
button,
[data-button] {
    display: inline-block;
    .padding(@button-padding-y; @button-padding-x);
    .border(@button-border-width; @color: @button-border-color; );
    .border-radius(@button-border-radius);
    .background-color(transparent);
    cursor: pointer;
}

button:is(:hover, :active),
[data-button]:is(:hover, :active) {
    outline: 0;
    text-decoration: none;
    .background-color(@button-background-active);
}

button:is(:focus),
[data-button]:is(:focus) {
    outline: thin dotted;
    outline-offset: unit((-2px / @font-size), rem);
}

[data-button="link"] {
    &:extend(:where(a));
}

[data-button="link"]:hover,
[data-button="link"]:active {
    &:extend(a:where(:hover, :active));
}

[data-button="link"]:focus {
    &:extend(a:where(:focus));
}

[data-button="link"]:is(.active, :hover, :active) {
    background-color: transparent;
    border-color: transparent;
}
