// Code
// ----------------------------------------------------------------------------/
code,
kbd,
pre,
samp {
    font-family: @code-font-family;
}

pre {
    overflow: auto;
    white-space: pre-wrap;
    &:extend([data-leading]);
}
