// Code
// ----------------------------------------------------------------------------/
code,
kbd,
pre,
samp {
    font-family: var(--code-font);
}

pre {
    overflow: auto;
    white-space: pre-wrap;
    &:extend([data-leading]);
}
