// Link
// ----------------------------------------------------------------------------/
:where(a) {
    text-decoration: none;
    background-color: transparent;
    color: @link-color;
    cursor: pointer;
}

a:where(:hover, :active):not([data-link], [data-button]) {
    text-decoration: underline;
}

a:where(:focus) {
    outline: thin dotted;
    outline-offset: unit((-2px / @font-size), rem);
}
