// List Items
// ----------------------------------------------------------------------------/
ol,
ul {
    list-style-type: none;
}

:where([data-list]):not(nav [data-list]) {
    &:extend([data-leading]);
}

[data-list]:where([data-list]) [data-list] {
    margin: 0;
}

[data-list="ol"] {
    list-style-type: @ol-list-style-type;

    > li:first-child > [data-list="ol"] {
        list-style-type: @ol-list-style-type-sub;
    }
}

[data-list="ul"] {
    list-style-type: @ul-list-style-type;

    > li:first-child > [data-list="ul"] {
        list-style-type: @ul-list-style-type-sub;
    }
}

[data-list="ol"],
[data-list="ul"],
:where([data-list="dl"]) dd {
    .padding-left(@line-height);
    list-style-position: outside;
}
