// List Items dl, ol, ul
// ----------------------------------------------------------------------------/
dl,
ol,
ul {
    list-style-type: none;
}

[data-list] {
    &:extend([data-leading]);

    [data-list] {
        margin: 0;
    }
}

[data-list="ol"] {
    list-style-type: @ol-list-style-type;

    > li:first-child > [data-list="ol"] {
        list-style-type: @ol-list-style-type-sub;
    }
}

[data-list="ul"] {
    list-style-type: @ul-list-style-type;

    > li:first-child > [data-list="ul"] {
        list-style-type: @ul-list-style-type-sub;
    }
}

[data-list="ol"],
[data-list="ul"] {
    .padding-left(@line-height);
    list-style-position: outside;
}
