// Selection
// ----------------------------------------------------------------------------/
::selection {
    background-color: @selection-background;
    color: @selection-text;
    text-shadow: none;
}
