// Background Color
// ----------------------------------------------------------------------------/
.background-color(@color: @background-color) {
    & when not (@color = false) {
        background-color: @color;
    }
}


// Gradients
// ----------------------------------------------------------------------------/
.gradient(@first-color: @background-color; @first-amount: 0%; @second-color: darken(@first-color, 5%); @second-amount: 100%; @third-color: false; @third-amount: 0%) {

    & when (@third-color = false) {
        background-image: linear-gradient(to top, @first-color @first-amount, @second-color @second-amount);
    }

    & when (iscolor(@third-color)) {
        background-image: linear-gradient(to top, @first-color @first-amount, @second-color @second-amount, @third-color @third-amount);
    }

}
