// Widths
// ----------------------------------------------------------------------------/
.width(@width; @base: @font-size; @unit: rem) {
    & when (@unit = em),
    (@unit = rem) {
        width: unit((@width / @base), @unit);
    }

    & when (@unit = %) {
        width: percentage(@width / @base);
    }

    & when (@unit = vw), (@unit = vh) {
        width: unit(((@width / @base) * 100), @unit);
    }
}

.max-width(@width; @base: @font-size; @unit: rem) {
    & when (@unit = em), (@unit = rem) {
        max-width: unit((@width / @base), @unit);
    }

    & when (@unit = %) {
        max-width: percentage(@width / @base);
    }

    & when (@unit = vw), (@unit = vh) {
        max-width: unit(((@width / @base) * 100), @unit);
    }
}

.min-width(@width; @base: @font-size; @unit: rem) {
    & when (@unit = em), (@unit = rem) {
        min-width: unit((@width / @base), @unit);
    }

    & when (@unit = %) {
        min-width: percentage(@width / @base);
    }

    & when (@unit = vw), (@unit = vh) {
        min-width: unit(((@width / @base) * 100), @unit);
    }
}
