[data-nav="line-top"] {
    border-top: $line-border-width solid $line-border-color;
}

[data-nav="line-bottom"] {
    border-bottom: $line-border-width solid $line-border-color;
}

[data-anchor="line"] {
    position: relative;
    z-index: 1;
    color: $anchor-line-text;
}

[data-anchor="line"]:where([data-state="active"], :hover, :active) {
    z-index: 5;
    color: $anchor-line-text-active;
}

:where([data-nav="line-top"]) [data-anchor="line"] {
    bottom: $line-border-width;
    border-top: $line-border-width solid transparent;
}

:where([data-nav="line-bottom"]) [data-anchor="line"] {
    top: $line-border-width;
    border-bottom: $line-border-width solid transparent;
}

[data-anchor="line"]:where([data-state="active"], :hover, :active) {
    border-color: $anchor-line-border-active;
}
