[data-navbar] {
    z-index: 1000;
    width: 100%;
    background-color: var(--navbar-background);
    color: var(--anchor-navbar-text-active);
}

[data-navbar="top"],
[data-navbar="bottom"] {
    position: fixed;
}

[data-navbar="top"] {
    top: 0;
}

:where([data-navbar="top"]) [data-dropbox] {
    top: 100%;
}

[data-navbar="bottom"] {
    bottom: 0;
}

:where([data-navbar="bottom"]) [data-dropbox] {
    bottom: 100%;
}

[data-navbar="child"] {
    background-color: var(--navbar-child-background);
}

[data-anchor="navbar"] {
    color: var(--anchor-navbar-text);
}

[data-anchor="navbar"]:where([data-state="active"], :hover, :active) {
    color: var(--anchor-navbar-text-active);
}
