// Buttons
// -----------------------------------------------------------------------------
.button(@class; @bg; @bg-hover; @color) {
    .@{button-class}-@{class} {
        background-color: @background-color;
        color: @color;

        &:focus,
        &:hover,
        &:active {
            background-color: @bg-hover;
        }

        &:active {
            background-color: @bg-hover;
        }
    }
}
