// Theme Settings
// for the full list of variables check out variables.less
// ============================================================================/


// Theme Colors
// ----------------------------------------------------------------------------/
@background-color: #252525;
@font-color: #aaa;

// branding
@primary: #00ac25;
@secondary: #222;
// @tertiary: #555;


// Typography
// ----------------------------------------------------------------------------/
// @font-family: @font-sans;
// @font-size: 16px;
// @font-scale: clamp(1rem, 1vw, 1.25rem); // default false
// @line-height: 24px;

// headings
// @headings-font-family: false;
// @headings-font-weight: 400;

// type scale
// @type-scale-small: 1.2;
// @type-scale-medium: 1.25;
// @type-scale-large: 1.3;
