// Theme Settings
// for the full list of variables check out variables-reference.less
// ============================================================================/

// Theme Colors
// ----------------------------------------------------------------------------/
@background-color: #252525;
@font-color: #aaa;

// branding
@primary: #00ac25;
@secondary: #222;
// @tertiary: #555;

// Typography
// ----------------------------------------------------------------------------/
// @font-family: @font-sans;
// @font-size: 16px;
// @line-height: 24px;
