// Theme Settings
// uncoment to return to default values
// ============================================================================/

// body
@background-color: #fff;

// typography
@font-family: @font-sans;
@font-size: 16px;
@line-height: 24px;
@font-color: #555;

// type scale
@type-scale-small: 1.2;
@type-scale-medium: 1.25;
@type-scale-large: 1.3;

// colors
@primary: #05f;
@primary-text: contrast(@primary);
@primary-hover: darken(@primary, 5%);

@secondary: #252525;
@secondary-text: contrast(@secondary);
@secondary-hover: darken(@secondary, 5%);

@tertiary: #555;
@tertiary-text: contrast(@tertiary);
@tertiary-hover: darken(@tertiary, 5%);

// link
@link-color: @primary;

// selection
@selection-background: #cde1ff;
@selection-color: contrast(@selection-background);
