// Dropdown Menu
// ----------------------------------------------------------------------------/
.dropdown-menu {
	background-color: lighten(#222, 2%);
	.text-shadow();
	opacity: 0;

	a {
		.padding-left(@wrapper-padding);
		.padding-right(@wrapper-padding);
	}
}

.drop > .dropdown-menu {
	opacity: 0.98;
}
