// Menu
// ----------------------------------------------------------------------------/

.dropdown {
	position: static;

	.icon-menu {
		.padding-top(10px; 24px);
		.padding-bottom(10px; 24px);
		.font-size(24px);
		.line-height(24px; 24px);
	}
}

.menu {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	font-style: normal;
	font-weight: 400;
	text-align: left;
	background-color: lighten(#222, 2%);
	display: none;
	.text-shadow();
	opacity: 0.95;
	z-index: 1020;

	a {
		.padding-left(@wrapper-padding);
		.padding-right(@wrapper-padding);
	}
}

.fixed-top,
.sticky-top {
	.menu {
		top: 100%;
	}
}

.fixed-bottom {
	.menu {
		bottom: 100%;
	}
}
