// Navigation V1.0
// -----------------------------------------------------------------------------
.nav,
.nav-list,
.nav-inline {
    .clearfix();
}

.nav,
.nav ul,
.nav-list,
.nav-list ul,
.nav-inline,
.nav-inline ul {
    padding-left: 0;
    list-style-type: none;
}

.nav {
    margin-bottom: 0;

    a {
        .padding(10px);
    }
}

.nav-inline {

    > li {
        float: left;
    }

}

.nav-link {
    color: @nav-link-color;
    display: block;
    .transition();

    &:focus {
        outline: 0;
    }

    &:hover {
        text-decoration: none;
    }
}

.nav-link-active,
.nav-link:focus,
.nav-link:hover {
    color: @nav-link-color-hover;
}
