// Navbar V1.0
// ----------------------------------------------------------------------------/
.navbar {
    z-index: 1025;
    width: 100%;
    background-color: @navbar-background-color;

    .nav-link {
        .padding(@navbar-link-padding-y; @navbar-link-padding-x);
        color: @navbar-link-color;

        &.active,
        &:hover {
        color: @navbar-link-color-hover;
        }
    }
}

.navbar-title {
    display: inline-block;
    .margin-left(-@navbar-link-padding-x);
    .font-size(@navbar-title-font-size);
    .line-height(@navbar-title-line-height; @navbar-title-font-size);
}

.navbar + .@{wrapper-class},
.navbar + .@{wrapper-class}-full {
    .padding-top(@wrapper-padding-top * 2);
}
