// Navbar V1.0
// ----------------------------------------------------------------------------/
.navbar {
	width: 100%;
	background-color: @navbar-background;

	a {
		color: @navbar-color;

		&:focus {
			outline: 0;
		}

		&.active,
		&:hover {
			color: @navbar-color-hover;
			text-decoration: none;
			.transition();
		}
	}
}

.brand {
	float: left;
	display: block;
	.margin-left(-@grid-gutters);
	.padding-left(@grid-gutters);
	.padding-right(@grid-gutters);
	.font-size(20px);
	.line-height(44px; 20px);

	.logo {
		.margin-right(5px);
	}
}

.navbar + .@{wrapper-class},
.navbar + .@{wrapper-class}-full {
	.padding-top(@wrapper-padding-top * 2);
}
