// Navbar V1.0
// ----------------------------------------------------------------------------/
.navbar {
    z-index: 1025;
    width: 100%;
    background-color: @navbar-background-color;

    a {
        color: @navbar-link-color;

        &.active,
        &:hover {
            color: @navbar-link-color-hover;
        }
    }
}

.navbar-brand {
    float: left;
    display: block;
    .margin-left(-@grid-gutters);
    .padding-left(@grid-gutters);
    .padding-right(@grid-gutters);
    .font-size(20px);
    .line-height(44px; 20px);
}

.navbar + .@{wrapper-class},
.navbar + .@{wrapper-class}-full {
    .padding-top(@wrapper-padding-top * 2);
}
