// Box Shadow
// ----------------------------------------------------------------------------/
.box-shadow(@hr: 0; @ve: 0; @bl: 0; @rgba: rgba(0, 0, 0, 0.3)) {

    & when not (@hr = false) {
        @a: unit((@hr / @font-size), em);
        @b: unit((@ve / @font-size), em);
        @c: unit((@bl / @font-size), em);

        box-shadow: @a @b @c @rgba;
    }

}

.box-shadow(@hr: 0; @ve: 0; @bl: 0; @rgba: rgba(0, 0, 0, 0.3); @hr2: false; @ve2: 0; @bl2: 0; @rgba2: rgba(0, 0, 0, 0.3);) when (isnumber(@hr2)) {

    @a: unit((@hr / @font-size), em);
    @b: unit((@ve / @font-size), em);
    @c: unit((@bl / @font-size), em);
    @d: unit((@hr2 / @font-size), em);
    @e: unit((@ve2 / @font-size), em);
    @f: unit((@bl2 / @font-size), em);

    box-shadow: @a @b @c @rgba, @d @e @f @rgba2;

}


// Text Shadow
// ----------------------------------------------------------------------------/
.text-shadow(@hr: 0; @ve: 1px; @bl: 2px; @rgba: rgba(0, 0, 0, 0.3)) {

    & when not (@hr = false) {
        @a: unit((@hr / @font-size), em);
        @b: unit((@ve / @font-size), em);
        @c: unit((@bl / @font-size), em);

        text-shadow: @a @b @c @rgba;
    }

}

.text-shadow(@hr: 0; @ve: 0; @bl: 0; @rgba: rgba(0, 0, 0, 0.3); @hr2: false; @ve2: 0; @bl2: 0; @rgba2: rgba(0, 0, 0, 0.3);) when (isnumber(@hr2)) {

    @a: unit((@hr / @font-size), em);
    @b: unit((@ve / @font-size), em);
    @c: unit((@bl / @font-size), em);
    @d: unit((@hr2 / @font-size), em);
    @e: unit((@ve2 / @font-size), em);
    @f: unit((@bl2 / @font-size), em);

    text-shadow: @a @b @c @rgba, @d @e @f @rgba2;

}
