// Tooltip
// ----------------------------------------------------------------------------/
[data-tooltip] {
    position: relative;
    text-decoration: underline dotted;
    cursor: help;

    &::before {
        content: attr(data-tooltip);
        position: absolute;
        z-index: -10;
        bottom: 100%;
        left: 0;
        min-width: var(--tooltip-min-width);
        padding: var(--space-y) var(--space-x);
        background-color: $tooltip-background;
        color: $tooltip-text;
        opacity: 0;
        transition: $tooltip-transition;
    }
}

[data-tooltip][data-state="active"]::before,
[data-tooltip]:hover::before {
    z-index: 10;
    opacity: 1;
}
