<!DOCTYPE html>
<html lang="en" id="top">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Components- RAMs</title>
    <link rel="stylesheet" href="../../main.css">
</head>

<body>
    <header id="components" data-container="fit">
        <h1>Components</h1>

        <p data-flex="wrap"><span data-flex-item="grow">Learn more about RAMs and how to get started.</span> <a
                href="https://github.com/jacobxperez/rams/blob/master/css/core/components/index.html" target="_blank"
                data-icon="pencil">
                Edit
                Page</a></p>

        <hr>
    </header>

    <!-- Navbar -->
    <nav data-navbar="top">
        <ul data-flex="navbar">
            <li><a data-nav="navbar" href="https://jacobxperez.github.io/rams/">RAMs</a></li>

            <li data-flex-item="grow"></li>

            <li data-display="small-none"><a data-nav="navbar" href="#top">Read Me</a></li>
            <li data-display="small-none"><a data-nav="navbar" href="fonts/icons/index.html">Icons</a></li>
            <li data-display="small-none"><a data-nav="navbar" data-icon="flow-branch"
                    href="https://github.com/jacobxperez/rams">
                    Fork</a></li>

            <!-- Dropdown Menu: show on small screens -->
            <li data-display="small">
                <a data-nav="navbar" data-icon="menu" data-dropdown="menu"></a>

                <ul data-navbar="sub" data-dropbox="menu" data-position="absolute left right">
                    <li><a data-nav="navbar" href="#top">Read Me</a></li>
                    <li><a data-nav="navbar" href="fonts/icons/index.html">Icons</a></li>
                    <li><a data-nav="navbar" data-icon="flow-branch" href="https://github.com/jacobxperez/rams">
                            Fork</a>
                    </li>
                </ul>
            </li>
            <!-- end Dropdown Menu -->
        </ul>
    </nav>
    <!-- end Navbar -->

    <main data-container="fit" data-grid="main">
        <!-- Secondary Nav -->
        <nav>
            
        </nav>
        <!-- end Secondary Nav -->

        <!-- Content -->
        <article>
            <p><a href="" data-button="primary">button</a> <a href="" data-button="primary-outline">button</a></p>

            <p>Lorem ipsum dolor sit amet
                <span data-dropdown="tooltip">consectetur<span data-dropbox="tip">Lorem ipsum
                        dolor sit amet.</span></span>
                adipisicing elit. Velit, laborum.
            </p>
        </article>
        <!-- end Content -->
    </main>

    <footer data-container="fit">
        <hr>

        <p><small>&copy; 2022 <a href="https://github.com/jacobxperez/rams" target="_blank">RAMs</a> by <a
                    href="https://github.com/jacobxperez" rel="author" target="_blank">Jacob Perez</a> and licensed
                under the <a href="http://www.apache.org/licenses/LICENSE-2.0" rel="license" target="_blank">Apache
                    License
                    v2.0</a>.</small></p>

        <script src="../../../js/script.js"></script>
    </footer>
</body>

</html>
