<!DOCTYPE html>
<html lang="en" id="top">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Components- RAMs</title>
    <link rel="stylesheet" href="../../main.css">
</head>

<body>
    <header id="components" class="wrapper">
        <h1>Components</h1>

        <p class="flex flex-wrap"><span class="flex-grow">Learn more about RAMs and how to get started.</span> <a
                href="https://github.com/jacobxperez/rams/blob/master/index.html" target="_blank" class="icon-pencil">
                Edit
                Page</a></p>

        <hr>
    </header>

    <!-- Navbar -->
    <nav class="nav fixed top">
        <ul class="flex">
            <li><a class="nav-link tap" href="https://jacobxperez.github.io/rams/">RAMs</a></li>

            <li class="flex-grow"></li>

            <li class="sm-none"><a class="nav-link tap" href="#top">Read Me</a></li>
            <li class="sm-none"><a class="nav-link tap" href="fonts/icons/index.html">Icons</a></li>
            <li class="sm-none"><a class="icon-flow-branch nav-link tap" href="https://github.com/jacobxperez/rams">
                    Fork</a></li>

            <!-- Dropdown Menu: show on small screens -->
            <li class="sm-display">
                <a class="icon-menu nav-link tap" data-dropdown="menu"></a>

                <ul class="dropdown secondary absolute left right">
                    <li><a class="nav-link tap" href="#top">Read Me</a></li>
                    <li><a class="nav-link tap" href="fonts/icons/index.html">Icons</a></li>
                    <li><a class="icon-flow-branch nav-link tap" href="https://github.com/jacobxperez/rams"> Fork</a>
                    </li>
                </ul>
            </li>
            <!-- end Dropdown Menu -->
        </ul>
    </nav>
    <!-- end Navbar -->

    <main class="wrapper grid">
        <!-- Secondary Nav -->
        <nav>
            
        </nav>
        <!-- end Secondary Nav -->

        <!-- Content -->
        <article>
            <p>Lorem ipsum dolor sit amet <span data-dropdown="tooltip">consectetur <span
                        class="dropdown absolute left secondary box">Lorem ipsum dolor sit amet.</span></span>
                adipisicing elit. Velit, laborum.
            </p>
        </article>
        <!-- end Content -->
    </main>

    <footer class="wrapper">
        <hr>

        <p><small>&copy; 2022 <a href="https://github.com/jacobxperez/rams" target="_blank">RAMs</a> by <a
                    href="https://github.com/jacobxperez" rel="author" target="_blank">Jacob Perez</a> and licensed
                under the <a href="http://www.apache.org/licenses/LICENSE-2.0" rel="license" target="_blank">Apache
                    License
                    v2.0</a>.</small></p>

        <script src="../../../js/script.min.js"></script>
    </footer>
</body>

</html>
