<!DOCTYPE html>
<html lang="en" id="top">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Components - RAMs</title>
    <link rel="stylesheet" href="../../main.css">
</head>

<body>
    <header id="components" data-container="fit">
        <h1>Components</h1>

        <p data-flex="wrap"><span data-item="grow">
                With <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_attributes"
                    target="_blank">data-attributes</a>
                components become more composable.</span>
            <a href="https://github.com/jacobxperez/rams/blob/master/css/core/components/index.html" target="_blank"
                data-icon="pencil">
                Edit
                Page</a>
        </p>

        <hr>
    </header>

    <!-- Navbar -->
    <nav data-navbar="top">
        <ul data-flex="navbar">
            <li><a data-nav="navbar" href="https://jacobxperez.github.io/rams/">RAMs</a></li>

            <li data-item="grow"></li>

            <li data-display="small-none"><a data-nav="navbar" href="../../../index.html">Read Me</a></li>
            <li data-display="small-none"><a data-nav="navbar" href="#top">Components</a></li>
            <li data-display="small-none"><a data-nav="navbar" href="../../../fonts/icons/index.html">Icons</a></li>
            <li data-display="small-none"><a data-nav="navbar" data-icon="flow-branch"
                    href="https://github.com/jacobxperez/rams">
                    Fork</a></li>

            <!-- Dropdown Menu: show on small screens -->
            <li data-display="small">
                <a data-nav="navbar" data-icon="menu" data-dropdown="menu"></a>

                <ul data-navbar="sub" data-dropbox="menu" data-position="absolute left right">
                    <li><a data-nav="navbar" href="#top">Read Me</a></li>
                    <li><a data-nav="navbar" href="../../../fonts/icons/index.html">Icons</a></li>
                    <li><a data-nav="navbar" data-icon="flow-branch" href="https://github.com/jacobxperez/rams">
                            Fork</a>
                    </li>
                </ul>
            </li>
            <!-- end Dropdown Menu -->
        </ul>
    </nav>
    <!-- end Navbar -->

    <main data-container="fit" data-grid="main">
        <!-- Secondary Nav -->
        <nav>

        </nav>
        <!-- end Secondary Nav -->

        <!-- Content -->
        <article>
            <section>
                <h2>Text</h2>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </section>

            <section>
                <h2>List</h2>

                <p>Group related items in a list with data-list</p>
            </section>

            <section>
                <h2>Buttons</h2>

                <p>
                    <button data-button="">button</button>
                    <button data-button="outline">button</button>
                    <button data-button="primary">button</button>
                    <button data-button="primary outline">button</button>
                    <button data-button="link">button</button>
                </p>

                <h3>Call to Action</h3>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </section>

            <section>
                <h2>Dropdowns</h2>

                <p>Dropdowns are multifunctional they can create simple tooltips or complex dropdown content.</p>

                <h3>Tooltip</h3>

                <p>Display additional
                    <span data-dropdown="tooltip">context<span data-dropbox="tip">Lorem ipsum
                            dolor sit amet.</span></span>
                    on hover or on click with tooltip.
                </p>

                <h3>Menu</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                <h3>Accordion</h3>

                <p>Reveal extra page content with accordions</p>

                <!-- Accordion Menu: show on small screens -->
                <ul data-accordion>
                    <li>
                        <a data-dropdown="accordion" data-nav="" data-flex>
                            <strong data-item="grow">Content</strong>
                            <span data-icon="down-open"></span>
                        </a>

                        <div data-dropbox="accordion">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, aut.
                        </div>
                    </li>

                    <li>
                        <a data-dropdown="accordion" data-nav="" data-flex>
                            <strong data-item="grow">Content</strong>
                            <span data-icon="down-open"></span>
                        </a>

                        <div data-dropbox="accordion">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, aut.
                        </div>
                    </li>

                    <li>
                        <a data-dropdown="accordion" data-nav="" data-flex>
                            <strong data-item="grow">Content</strong>
                            <span data-icon="down-open"></span>
                        </a>

                        <div data-dropbox="accordion">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, aut.
                        </div>
                    </li>
                </ul>
                <!-- end Accordion Menu -->
            </section>

            <section>
                <h2>Navigation</h2>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

                <h3>Navbar</h3>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

                <h3>Tabs</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                <nav>
                    <ul data-tabs="">
                        <li><a data-nav="tab" class="active">Tab</a></li>
                        <li><a data-nav="tab">Tab</a></li>
                        <li><a data-nav="tab">Tab</a></li>
                        <li><a data-nav="tab">Tab</a></li>
                    </ul>
                </nav>

                <h3>Breadcrumb</h3>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </section>

            <section>
                <h2>Layout</h2>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

                <h3>Container</h3>

                <p>Center page content with data-container</p>

                <h3>Grid</h3>

                <p>Empower your layouts with CSS Grid using data-grid</p>

                <h3>Flex Box</h3>

                <p>Give flexibility to your layouts with data-flex</p>
            </section>

            <section>
                <h2>Display</h2>

                <p>Hide and show content based on meadia queries brakepoints with data-display</p>
            </section>
        </article>
        <!-- end Content -->
    </main>

    <footer data-container="fit">
        <hr>

        <p><small>&copy; 2022 <a href="https://github.com/jacobxperez/rams" target="_blank">RAMs</a> by <a
                    href="https://github.com/jacobxperez" rel="author" target="_blank">Jacob Perez</a> and licensed
                under the <a href="http://www.apache.org/licenses/LICENSE-2.0" rel="license" target="_blank">Apache
                    License
                    v2.0</a>.</small></p>

        <script src="../../../js/script.js"></script>
    </footer>
</body>

</html>
