[data-toggle~="dropdown"] {
    position: relative;
}

:where([data-toggle~="dropdown"]) > [data-dropbox],
:where([data-toggle~="dropdown"]) + [data-dropbox] {
    position: absolute;
    display: block;
}

/* uncss:ignore */
[data-state="active"] > [data-dropbox],
[data-state="active"] + [data-dropbox],
[data-toggle~="tooltip"]:hover > [data-dropbox~="tooltip"] {
    z-index: 100;
    display: block;
    visibility: visible;
    opacity: 1;
}
