[data-toggle~="dropdown"],
[data-toggle~="tooltip"] {
    position: relative;
}

:where([data-toggle~="dropdown"], [data-toggle~="tooltip"]) > [data-dropbox],
:where([data-toggle~="dropdown"], [data-toggle~="tooltip"]) + [data-dropbox] {
    position: absolute;
    display: block;
}

/* uncss:ignore */
[data-state="active"] > [data-dropbox],
[data-state="active"] + [data-dropbox],
[data-toggle="tooltip"]:hover > [data-dropbox="tooltip"] {
    z-index: 100;
    display: block;
    visibility: visible;
    opacity: 1;
}
