[data-toggle~="tooltip"] {
    text-decoration: underline dotted;
    cursor: help;
}

[data-dropbox~="tooltip"] {
    bottom: 100%;
    left: 0;
    min-width: $tooltip-min-width;
    padding: $space-y $space-x;
    background-color: $tooltip-background;
    color: $tooltip-text;
}
