// Borders
// ----------------------------------------------------------------------------/
.border {
    .border(@border-width);
}

.border-left {
    .border-left(@border-width);
}

.border-top {
    .border-top(@border-width);
}

.border-right {
    .border-right(@border-width);
}

.border-bottom {
    .border-bottom(@border-width);
}


// Borders Colors
// ----------------------------------------------------------------------------/
.border-tertiary {
    border-color: @tertiary;
}

.border-secondary {
    border-color: @secondary;
}

.border-primary {
    border-color: @primary;
}

.border-action();
