// Display
// ----------------------------------------------------------------------------/
.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}


// Small Screen
// ----------------------------------------------------------------------------/
.small-display () {
    .sm-none,
    .md-block,
    .lg-block {
        display: none;
    }
}


// Medium Screen
// ----------------------------------------------------------------------------/
.medium-display () {
    .md-none,
    .sm-block,
    .lg-block {
        display: none;
    }
}


// Large Screen
// ----------------------------------------------------------------------------/
.large-display () {
    .lg-none,
    .sm-block,
    .md-block {
        display: none;
    }
}
