// Display
// ----------------------------------------------------------------------------/
.block {
    display: block;
}


// Small Screen
// ----------------------------------------------------------------------------/
.small-display () {
    .sm-none,
    .md-display,
    .lg-display {
        display: none;
    }
}


// Medium Screen
// ----------------------------------------------------------------------------/
.medium-display () {
    .md-none,
    .sm-display,
    .lg-display {
        display: none;
    }
}


// Large Screen
// ----------------------------------------------------------------------------/
.large-display () {
    .lg-none,
    .sm-display,
    .md-display {
        display: none;
    }
}
