// Flex Box
// ----------------------------------------------------------------------------/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

.flex-grow,
.flex-grow-children > * {
    flex-grow: 1;
}


// Breakpoints
// ----------------------------------------------------------------------------/
.small-flex () {
    .@{small-prefix}flex {
        display: flex;
        flex-wrap: wrap;
    }
    
    .@{small-prefix}row-reverse {
        flex-direction: row-reverse;
    }
    
    .@{small-prefix}flex-column {
        flex-direction: column;
    }
    
    .@{small-prefix}column-reverse {
        flex-direction: column-reverse;
    }

    .@{small-prefix}flex-grow,
    .@{small-prefix}flex-grow-children > * {
        flex-grow: 1;
    }
}

.medium-flex () {
    .@{medium-prefix}flex {
        display: flex;
        flex-wrap: wrap;
    }
    
    .@{medium-prefix}row-reverse {
        flex-direction: row-reverse;
    }
    
    .@{medium-prefix}flex-column {
        flex-direction: column;
    }
    
    .@{medium-prefix}column-reverse {
        flex-direction: column-reverse;
    }

    .@{medium-prefix}flex-grow,
    .@{medium-prefix}flex-grow-children > * {
        flex-grow: 1;
    }    
}

.large-flex () {
    .@{large-prefix}flex {
        display: flex;
        flex-wrap: wrap;
    }
    
    .@{large-prefix}row-reverse {
        flex-direction: row-reverse;
    }
    
    .@{large-prefix}flex-column {
        flex-direction: column;
    }
    
    .@{large-prefix}column-reverse {
        flex-direction: column-reverse;
    }

    .@{large-prefix}flex-grow,
    .@{large-prefix}flex-grow-children > * {
        flex-grow: 1;
    }    
}

