// Position
// ----------------------------------------------------------------------------/
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.fixed-top();

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}


// Breakpoints
// ----------------------------------------------------------------------------/
.small-position () {
    .@{small-prefix}relative {
        position: relative;
    }
    
    .@{small-prefix}absolute {
        position: absolute;
    }
    
    .@{small-prefix}fixed {
        position: fixed;
    }

    .@{small-prefix}top {
        top: 0;
    }
    
    .@{small-prefix}bottom {
        bottom: 0;
    }
    
    .@{small-prefix}left {
        left: 0;
    }
    
    .@{small-prefix}right {
        right: 0;
    }
}

.medium-position () {
    .@{medium-prefix}relative {
        position: relative;
    }
    
    .@{medium-prefix}absolute {
        position: absolute;
    }
    
    .@{medium-prefix}fixed {
        position: fixed;
    }
     
    .@{medium-prefix}top {
        top: 0;
    }
    
    .@{medium-prefix}bottom {
        bottom: 0;
    }
    
    .@{medium-prefix}left {
        left: 0;
    }
    
    .@{medium-prefix}right {
        right: 0;
    }
}

.large-position () {
    .@{large-prefix}relative {
        position: relative;
    }
    
    .@{large-prefix}absolute {
        position: absolute;
    }
    
    .@{large-prefix}fixed {
        position: fixed;
    }
     
    .@{large-prefix}top {
        top: 0;
    }
    
    .@{large-prefix}bottom {
        bottom: 0;
    }
    
    .@{large-prefix}left {
        left: 0;
    }
    
    .@{large-prefix}right {
        right: 0;
    }
}
