// Position
// ----------------------------------------------------------------------------/
.tooltip,
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.fixed.top + .wrapper {
    .margin-top(@line-height * 4);
}

.fixed.top .wrapper > ul {
    .margin-left(-@nav-link-padding-x);
    .margin-right(-@nav-link-padding-x);
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}
