// Navigation
// ----------------------------------------------------------------------------/
.nav {
    background-color: @nav-background-color;
    color: @nav-link-color-hover;
    width: 100%;
    z-index: 1000;
}

.nav-link {
    color: @nav-link-color;

    &.active,
    &:hover,
    &:active {
        color: @nav-link-color-hover;
        text-decoration: none;
    }
}
