// Nav
// ----------------------------------------------------------------------------/
[data-nav],
[data-item~="nav"] {
    display: block;
    .padding(@nav-padding-y; @nav-padding-x);
}

[data-nav] {
    &.active,
    &:hover,
    &:active {
        text-decoration: none;
    }
}

[data-nav="link"] {
    &.active,
    &:hover,
    &:active {
        color: @nav-link-color-hover;
    }
}

[data-flex~="nav"] {
    .border();
}
