// Tabs
// ----------------------------------------------------------------------------/
.tap {
    display: block;
    .padding(@nav-link-padding-y; @nav-link-padding-x);

    &.active,
    &:hover,
    &:active {
        color: @font-color;
        text-decoration: none;
    }
}
