// Colors
// ----------------------------------------------------------------------------/

// page background color
@background-color: #fff;

// base font color
@font-color: #555;

// branding
@primary: #06f;
@secondary: #493d99;

// actions
@success: #393;
@warning: #fa0;
@danger: #c00;

// fallback
@default: #e6e6e6;
