// Form
// ----------------------------------------------------------------------------/
@form-padding-y: @base-padding-y;
@form-padding-x: @base-padding-x;

@form-background-color: @background-color;

@form-border-width: @base-border-width; // can be set to false
@form-border-color: @base-border-color;
@form-border-color-focus: @link-color;
@form-border-radius: @base-border-radius;
