// Grid System
// ----------------------------------------------------------------------------/
@grid-wrapper-class: row;
@grid-columns-class: columns;
@grid-gutters: 10px;

// small grid
@small-prefix: small;
@small-columns: 4;

// medium grid
@medium-prefix: medium;
@medium-columns: 8;

// large grid
@large-prefix: large;
@large-columns: 12;
