// Iconography
// ----------------------------------------------------------------------------/
@icon-class: icon;
@icon-font-name: "icons";
@icon-font-path: "../fonts/icons/";

@icon-font-size: @base-font-size;
@icon-line-height: 10px;
