// Navigation V1.1
// ----------------------------------------------------------------------------/
@nav-link-hover: @font-color;


// Navbar
// ----------------------------------------------------------------------------/
@navbar-background: #222;
@navbar-color: #fff;
@navbar-color-hover: darken(@navbar-color, 20%);


// Breadcrumb
// ----------------------------------------------------------------------------/
@breadcrumb-separator: " /";
