// Nav
// ----------------------------------------------------------------------------/
@nav-link-color: @link-color;
@nav-link-color-hover: @font-color;
@nav-link-padding-y: @base-padding-y;
@nav-link-padding-x: @base-padding-x;

// Navbar
// ----------------------------------------------------------------------------/
@navbar-background-color: #222;

@navbar-title-font-size: 18px;
@navbar-title-line-height: @base-line-height;

@navbar-link-color: #fff;
@navbar-link-color-hover: darken(@navbar-link-color, 20%);
@navbar-link-padding-y: 10px;
@navbar-link-padding-x: @base-padding-x;


// Breadcrumb
// ----------------------------------------------------------------------------/
@breadcrumb-separator: " /";
